/*
	stylus-boilerplate

	stylus-boilerplate.styl

	Author: Sean Goresht

	Created on 2014-08-23 by PhpStorm
*/

/* Imports */
@require "helpers/index" // Import all dependencies: variables, mixin/placeholder helpers, and browser support configuration

@require "components/animations/fading_entrances/*" // import basic fade animations; pick and choose as necessary, or import all animations by importing animation/index

@require "components/*" // import all components; pick and choose as needed
