nav(role="navigation")
	ul
		li
			a(href="#") Store
		li
			a(href="#") Settings
				span.icon-cogs
		li.user.dropdown
			a(href="profile")
				span.icon-user
				span User Name...
			ul.dropdown-menu
				li
					a(href="#")
						span.icon-user
						| Profile
				li
					a(href="#")
						span.icon-bubble4
						| Messages
				li
					a(href="#")
						span.icon-cog
						| Settings
				li
					a(href="#")
						span.icon-exit
						| Logout
