@keyframes puffIn
	0%
		opacity: 0
		transform-origin: 50% 50%
		transform: scale(2.0, 2.0)
		filter: blur(em(22px))
	100%
		opacity: 1
		transform-origin: 50% 50%
		transform: scale(1.0, 1.0)

generateAnimationPlaceholder(puffIn)
