@keyframes perspectiveUpReturn
	0%
		transform-origin: 0 0
		transform: perspective(em(800px)) rotateX(180deg)
	100%
		transform-origin: 0 0
		transform: perspective(em(800px)) rotateX(0deg)

generateAnimationPlaceholder(perspectiveUpReturn)
