@font-face {
	font-family: "icomoon";
	src:url("icomoon.eot?3c6f2l");
	src:url("icomoon.eot?#iefix3c6f2l") format("embedded-opentype"),
		url("icomoon.woff?3c6f2l") format("woff"),
		url("icomoon.ttf?3c6f2l") format("truetype"),
		url("icomoon.svg?3c6f2l#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
	content: "\e66c";
}
.icon-home3:before {
	content: "\e66d";
}
.icon-home4:before {
	content: "\e66e";
}
.icon-office:before {
	content: "\e66f";
}
.icon-newspaper:before {
	content: "\e670";
}
.icon-pencil2:before {
	content: "\e671";
}
.icon-pencil3:before {
	content: "\e672";
}
.icon-quill:before {
	content: "\e673";
}
.icon-pen:before {
	content: "\e674";
}
.icon-blog:before {
	content: "\e675";
}
.icon-droplet2:before {
	content: "\e676";
}
.icon-paint-format:before {
	content: "\e677";
}
.icon-image:before {
	content: "\e678";
}
.icon-image2:before {
	content: "\e679";
}
.icon-images:before {
	content: "\e67a";
}
.icon-camera3:before {
	content: "\e67b";
}
.icon-music2:before {
	content: "\e67c";
}
.icon-headphones2:before {
	content: "\e67d";
}
.icon-play2:before {
	content: "\e67e";
}
.icon-film2:before {
	content: "\e67f";
}
.icon-camera4:before {
	content: "\e680";
}
.icon-dice:before {
	content: "\e681";
}
.icon-pacman:before {
	content: "\e682";
}
.icon-spades:before {
	content: "\e683";
}
.icon-clubs:before {
	content: "\e684";
}
.icon-diamonds:before {
	content: "\e685";
}
.icon-pawn:before {
	content: "\e686";
}
.icon-bullhorn:before {
	content: "\e687";
}
.icon-connection:before {
	content: "\e688";
}
.icon-podcast:before {
	content: "\e689";
}
.icon-feed2:before {
	content: "\e68a";
}
.icon-book:before {
	content: "\e68b";
}
.icon-books:before {
	content: "\e68c";
}
.icon-library:before {
	content: "\e68d";
}
.icon-file2:before {
	content: "\e68e";
}
.icon-profile:before {
	content: "\e68f";
}
.icon-file3:before {
	content: "\e690";
}
.icon-file4:before {
	content: "\e691";
}
.icon-file5:before {
	content: "\e692";
}
.icon-copy:before {
	content: "\e693";
}
.icon-copy2:before {
	content: "\e694";
}
.icon-copy3:before {
	content: "\e695";
}
.icon-paste:before {
	content: "\e696";
}
.icon-paste2:before {
	content: "\e697";
}
.icon-paste3:before {
	content: "\e698";
}
.icon-stack:before {
	content: "\e699";
}
.icon-folder2:before {
	content: "\e69a";
}
.icon-folder-open:before {
	content: "\e69b";
}
.icon-tag2:before {
	content: "\e69c";
}
.icon-tags:before {
	content: "\e69d";
}
.icon-barcode:before {
	content: "\e69e";
}
.icon-qrcode:before {
	content: "\e69f";
}
.icon-ticket:before {
	content: "\e6a0";
}
.icon-cart2:before {
	content: "\e6a1";
}
.icon-cart3:before {
	content: "\e6a2";
}
.icon-cart4:before {
	content: "\e6a3";
}
.icon-coin:before {
	content: "\e6a4";
}
.icon-credit:before {
	content: "\e6a5";
}
.icon-calculate:before {
	content: "\e6a6";
}
.icon-support:before {
	content: "\e6a7";
}
.icon-phone2:before {
	content: "\e6a8";
}
.icon-phone-hang-up:before {
	content: "\e6a9";
}
.icon-address-book:before {
	content: "\e6aa";
}
.icon-notebook:before {
	content: "\e6ab";
}
.icon-envelope2:before {
	content: "\e6ac";
}
.icon-pushpin:before {
	content: "\e6ad";
}
.icon-location3:before {
	content: "\e6ae";
}
.icon-location4:before {
	content: "\e6af";
}
.icon-compass2:before {
	content: "\e6b0";
}
.icon-map:before {
	content: "\e6b1";
}
.icon-map2:before {
	content: "\e6b2";
}
.icon-history:before {
	content: "\e6b3";
}
.icon-clock2:before {
	content: "\e6b4";
}
.icon-clock3:before {
	content: "\e6b5";
}
.icon-alarm2:before {
	content: "\e6b6";
}
.icon-alarm3:before {
	content: "\e6b7";
}
.icon-bell:before {
	content: "\e6b8";
}
.icon-stopwatch:before {
	content: "\e6b9";
}
.icon-calendar2:before {
	content: "\e6ba";
}
.icon-calendar3:before {
	content: "\e6bb";
}
.icon-print:before {
	content: "\e6bc";
}
.icon-keyboard2:before {
	content: "\e6bd";
}
.icon-screen:before {
	content: "\e6be";
}
.icon-laptop:before {
	content: "\e6bf";
}
.icon-mobile2:before {
	content: "\e6c0";
}
.icon-mobile3:before {
	content: "\e6c1";
}
.icon-tablet:before {
	content: "\e6c2";
}
.icon-tv:before {
	content: "\e6c3";
}
.icon-cabinet:before {
	content: "\e6c4";
}
.icon-drawer:before {
	content: "\e6c5";
}
.icon-drawer2:before {
	content: "\e6c6";
}
.icon-drawer3:before {
	content: "\e6c7";
}
.icon-box-add:before {
	content: "\e6c8";
}
.icon-box-remove:before {
	content: "\e6c9";
}
.icon-download:before {
	content: "\e6ca";
}
.icon-upload:before {
	content: "\e6cb";
}
.icon-disk2:before {
	content: "\e6cc";
}
.icon-storage:before {
	content: "\e6cd";
}
.icon-undo:before {
	content: "\e6ce";
}
.icon-redo:before {
	content: "\e6cf";
}
.icon-flip:before {
	content: "\e6d0";
}
.icon-flip2:before {
	content: "\e6d1";
}
.icon-undo2:before {
	content: "\e6d2";
}
.icon-redo2:before {
	content: "\e6d3";
}
.icon-forward2:before {
	content: "\e6d4";
}
.icon-reply:before {
	content: "\e6d5";
}
.icon-bubble:before {
	content: "\e6d6";
}
.icon-bubbles:before {
	content: "\e6d7";
}
.icon-bubbles2:before {
	content: "\e6d8";
}
.icon-bubble2:before {
	content: "\e6d9";
}
.icon-bubbles3:before {
	content: "\e6da";
}
.icon-bubbles4:before {
	content: "\e6db";
}
.icon-user2:before {
	content: "\e6dc";
}
.icon-users:before {
	content: "\e6dd";
}
.icon-user3:before {
	content: "\e6de";
}
.icon-users2:before {
	content: "\e6df";
}
.icon-user4:before {
	content: "\e6e0";
}
.icon-user5:before {
	content: "\e6e1";
}
.icon-quotes-left:before {
	content: "\e6e2";
}
.icon-busy:before {
	content: "\e6e3";
}
.icon-spinner:before {
	content: "\e6e4";
}
.icon-spinner2:before {
	content: "\e6e5";
}
.icon-spinner3:before {
	content: "\e6e6";
}
.icon-spinner4:before {
	content: "\e6e7";
}
.icon-spinner5:before {
	content: "\e6e8";
}
.icon-spinner6:before {
	content: "\e6e9";
}
.icon-binoculars:before {
	content: "\e6ea";
}
.icon-search2:before {
	content: "\e6eb";
}
.icon-zoomin:before {
	content: "\e6ec";
}
.icon-zoomout:before {
	content: "\e6ed";
}
.icon-expand:before {
	content: "\e6ee";
}
.icon-contract:before {
	content: "\e6ef";
}
.icon-expand2:before {
	content: "\e6f0";
}
.icon-contract2:before {
	content: "\e6f1";
}
.icon-key2:before {
	content: "\e6f2";
}
.icon-key3:before {
	content: "\e6f3";
}
.icon-lock:before {
	content: "\e6f4";
}
.icon-lock2:before {
	content: "\e6f5";
}
.icon-unlocked:before {
	content: "\e6f6";
}
.icon-wrench2:before {
	content: "\e6f7";
}
.icon-settings:before {
	content: "\e6f8";
}
.icon-equalizer:before {
	content: "\e6f9";
}
.icon-cog2:before {
	content: "\e6fa";
}
.icon-cogs:before {
	content: "\e6fb";
}
.icon-cog3:before {
	content: "\e6fc";
}
.icon-hammer:before {
	content: "\e6fd";
}
.icon-wand:before {
	content: "\e6fe";
}
.icon-aid:before {
	content: "\e6ff";
}
.icon-bug2:before {
	content: "\e700";
}
.icon-pie:before {
	content: "\e701";
}
.icon-stats2:before {
	content: "\e702";
}
.icon-bars:before {
	content: "\e703";
}
.icon-bars2:before {
	content: "\e704";
}
.icon-gift2:before {
	content: "\e705";
}
.icon-trophy2:before {
	content: "\e706";
}
.icon-glass:before {
	content: "\e707";
}
.icon-mug:before {
	content: "\e708";
}
.icon-food:before {
	content: "\e709";
}
.icon-leaf:before {
	content: "\e70a";
}
.icon-rocket:before {
	content: "\e70b";
}
.icon-meter:before {
	content: "\e70c";
}
.icon-meter2:before {
	content: "\e70d";
}
.icon-dashboard:before {
	content: "\e70e";
}
.icon-hammer2:before {
	content: "\e70f";
}
.icon-fire:before {
	content: "\e710";
}
.icon-lab:before {
	content: "\e711";
}
.icon-magnet:before {
	content: "\e712";
}
.icon-remove:before {
	content: "\e713";
}
.icon-remove2:before {
	content: "\e714";
}
.icon-briefcase2:before {
	content: "\e715";
}
.icon-airplane:before {
	content: "\e716";
}
.icon-truck:before {
	content: "\e717";
}
.icon-road:before {
	content: "\e718";
}
.icon-accessibility:before {
	content: "\e719";
}
.icon-target4:before {
	content: "\e71a";
}
.icon-shield:before {
	content: "\e71b";
}
.icon-lightning:before {
	content: "\e71c";
}
.icon-switch2:before {
	content: "\e71d";
}
.icon-powercord:before {
	content: "\e71e";
}
.icon-signup:before {
	content: "\e71f";
}
.icon-list2:before {
	content: "\e720";
}
.icon-list3:before {
	content: "\e721";
}
.icon-numbered-list:before {
	content: "\e722";
}
.icon-menu:before {
	content: "\e723";
}
.icon-menu2:before {
	content: "\e724";
}
.icon-tree:before {
	content: "\e725";
}
.icon-cloud2:before {
	content: "\e726";
}
.icon-cloud-download:before {
	content: "\e727";
}
.icon-cloud-upload:before {
	content: "\e728";
}
.icon-download2:before {
	content: "\e729";
}
.icon-upload2:before {
	content: "\e72a";
}
.icon-download3:before {
	content: "\e72b";
}
.icon-upload3:before {
	content: "\e72c";
}
.icon-globe:before {
	content: "\e72d";
}
.icon-earth2:before {
	content: "\e72e";
}
.icon-link:before {
	content: "\e72f";
}
.icon-flag2:before {
	content: "\e730";
}
.icon-attachment:before {
	content: "\e731";
}
.icon-eye2:before {
	content: "\e732";
}
.icon-eye-blocked:before {
	content: "\e733";
}
.icon-eye3:before {
	content: "\e734";
}
.icon-bookmark3:before {
	content: "\e735";
}
.icon-bookmarks:before {
	content: "\e736";
}
.icon-brightness-medium:before {
	content: "\e737";
}
.icon-brightness-contrast:before {
	content: "\e738";
}
.icon-contrast2:before {
	content: "\e739";
}
.icon-star3:before {
	content: "\e73a";
}
.icon-star4:before {
	content: "\e73b";
}
.icon-star5:before {
	content: "\e73c";
}
.icon-heart2:before {
	content: "\e73d";
}
.icon-heart3:before {
	content: "\e73e";
}
.icon-heart-broken:before {
	content: "\e73f";
}
.icon-thumbs-up:before {
	content: "\e740";
}
.icon-thumbs-up2:before {
	content: "\e741";
}
.icon-happy:before {
	content: "\e742";
}
.icon-happy2:before {
	content: "\e743";
}
.icon-smiley2:before {
	content: "\e744";
}
.icon-smiley3:before {
	content: "\e745";
}
.icon-tongue:before {
	content: "\e746";
}
.icon-tongue2:before {
	content: "\e747";
}
.icon-sad:before {
	content: "\e748";
}
.icon-sad2:before {
	content: "\e749";
}
.icon-wink:before {
	content: "\e74a";
}
.icon-wink2:before {
	content: "\e74b";
}
.icon-grin:before {
	content: "\e74c";
}
.icon-grin2:before {
	content: "\e74d";
}
.icon-cool:before {
	content: "\e74e";
}
.icon-cool2:before {
	content: "\e74f";
}
.icon-angry:before {
	content: "\e750";
}
.icon-angry2:before {
	content: "\e751";
}
.icon-evil:before {
	content: "\e752";
}
.icon-evil2:before {
	content: "\e753";
}
.icon-shocked:before {
	content: "\e754";
}
.icon-shocked2:before {
	content: "\e755";
}
.icon-confused:before {
	content: "\e756";
}
.icon-confused2:before {
	content: "\e757";
}
.icon-neutral:before {
	content: "\e758";
}
.icon-neutral2:before {
	content: "\e759";
}
.icon-wondering:before {
	content: "\e75a";
}
.icon-wondering2:before {
	content: "\e75b";
}
.icon-point-up:before {
	content: "\e75c";
}
.icon-point-right:before {
	content: "\e75d";
}
.icon-point-down:before {
	content: "\e75e";
}
.icon-point-left:before {
	content: "\e75f";
}
.icon-warning2:before {
	content: "\e760";
}
.icon-notification:before {
	content: "\e761";
}
.icon-question:before {
	content: "\e762";
}
.icon-info2:before {
	content: "\e763";
}
.icon-info3:before {
	content: "\e764";
}
.icon-blocked2:before {
	content: "\e765";
}
.icon-cancel-circle:before {
	content: "\e766";
}
.icon-checkmark-circle:before {
	content: "\e767";
}
.icon-spam:before {
	content: "\e768";
}
.icon-close:before {
	content: "\e769";
}
.icon-checkmark2:before {
	content: "\e76a";
}
.icon-checkmark3:before {
	content: "\e76b";
}
.icon-spell-check:before {
	content: "\e76c";
}
.icon-minus2:before {
	content: "\e76d";
}
.icon-plus2:before {
	content: "\e76e";
}
.icon-enter:before {
	content: "\e76f";
}
.icon-exit:before {
	content: "\e770";
}
.icon-play3:before {
	content: "\e771";
}
.icon-pause2:before {
	content: "\e772";
}
.icon-stop2:before {
	content: "\e773";
}
.icon-backward:before {
	content: "\e774";
}
.icon-forward3:before {
	content: "\e775";
}
.icon-play4:before {
	content: "\e776";
}
.icon-pause3:before {
	content: "\e777";
}
.icon-stop3:before {
	content: "\e778";
}
.icon-backward2:before {
	content: "\e779";
}
.icon-forward4:before {
	content: "\e77a";
}
.icon-first:before {
	content: "\e77b";
}
.icon-last:before {
	content: "\e77c";
}
.icon-previous:before {
	content: "\e77d";
}
.icon-next:before {
	content: "\e77e";
}
.icon-eject:before {
	content: "\e77f";
}
.icon-volume-high:before {
	content: "\e780";
}
.icon-volume-medium:before {
	content: "\e781";
}
.icon-volume-low:before {
	content: "\e782";
}
.icon-volume-mute:before {
	content: "\e783";
}
.icon-volume-mute2:before {
	content: "\e784";
}
.icon-volume-increase:before {
	content: "\e785";
}
.icon-volume-decrease:before {
	content: "\e786";
}
.icon-loop:before {
	content: "\e787";
}
.icon-loop2:before {
	content: "\e788";
}
.icon-loop3:before {
	content: "\e789";
}
.icon-shuffle:before {
	content: "\e78a";
}
.icon-arrow-up-left:before {
	content: "\e78b";
}
.icon-arrow-up:before {
	content: "\e78c";
}
.icon-arrow-up-right:before {
	content: "\e78d";
}
.icon-arrow-right:before {
	content: "\e78e";
}
.icon-arrow-down-right:before {
	content: "\e78f";
}
.icon-arrow-down:before {
	content: "\e790";
}
.icon-arrow-down-left:before {
	content: "\e791";
}
.icon-arrow-left:before {
	content: "\e792";
}
.icon-arrow-up-left2:before {
	content: "\e793";
}
.icon-arrow-up2:before {
	content: "\e794";
}
.icon-arrow-up-right2:before {
	content: "\e795";
}
.icon-arrow-right2:before {
	content: "\e796";
}
.icon-arrow-down-right2:before {
	content: "\e797";
}
.icon-arrow-down2:before {
	content: "\e798";
}
.icon-arrow-down-left2:before {
	content: "\e799";
}
.icon-arrow-left2:before {
	content: "\e79a";
}
.icon-arrow-up-left3:before {
	content: "\e79b";
}
.icon-arrow-up3:before {
	content: "\e79c";
}
.icon-arrow-up-right3:before {
	content: "\e79d";
}
.icon-arrow-right3:before {
	content: "\e79e";
}
.icon-arrow-down-right3:before {
	content: "\e79f";
}
.icon-arrow-down3:before {
	content: "\e7a0";
}
.icon-arrow-down-left3:before {
	content: "\e7a1";
}
.icon-arrow-left3:before {
	content: "\e7a2";
}
.icon-tab:before {
	content: "\e7a3";
}
.icon-checkbox-checked:before {
	content: "\e7a4";
}
.icon-checkbox-unchecked:before {
	content: "\e7a5";
}
.icon-checkbox-partial:before {
	content: "\e7a6";
}
.icon-radio-checked:before {
	content: "\e7a7";
}
.icon-radio-unchecked:before {
	content: "\e7a8";
}
.icon-crop2:before {
	content: "\e7a9";
}
.icon-scissors:before {
	content: "\e7aa";
}
.icon-filter2:before {
	content: "\e7ab";
}
.icon-filter3:before {
	content: "\e7ac";
}
.icon-font:before {
	content: "\e7ad";
}
.icon-text-height:before {
	content: "\e7ae";
}
.icon-text-width:before {
	content: "\e7af";
}
.icon-bold:before {
	content: "\e7b0";
}
.icon-underline:before {
	content: "\e7b1";
}
.icon-italic:before {
	content: "\e7b2";
}
.icon-strikethrough:before {
	content: "\e7b3";
}
.icon-omega:before {
	content: "\e7b4";
}
.icon-sigma:before {
	content: "\e7b5";
}
.icon-table:before {
	content: "\e7b6";
}
.icon-table2:before {
	content: "\e7b7";
}
.icon-insert-template:before {
	content: "\e7b8";
}
.icon-pilcrow:before {
	content: "\e7b9";
}
.icon-lefttoright:before {
	content: "\e7ba";
}
.icon-righttoleft:before {
	content: "\e7bb";
}
.icon-paragraph-left:before {
	content: "\e7bc";
}
.icon-paragraph-center:before {
	content: "\e7bd";
}
.icon-paragraph-right:before {
	content: "\e7be";
}
.icon-paragraph-justify:before {
	content: "\e7bf";
}
.icon-paragraph-left2:before {
	content: "\e7c0";
}
.icon-paragraph-center2:before {
	content: "\e7c1";
}
.icon-paragraph-right2:before {
	content: "\e7c2";
}
.icon-paragraph-justify2:before {
	content: "\e7c3";
}
.icon-indent-increase:before {
	content: "\e7c4";
}
.icon-indent-decrease:before {
	content: "\e7c5";
}
.icon-newtab:before {
	content: "\e7c6";
}
.icon-embed:before {
	content: "\e7c7";
}
.icon-code2:before {
	content: "\e7c8";
}
.icon-console2:before {
	content: "\e7c9";
}
.icon-share:before {
	content: "\e7ca";
}
.icon-mail:before {
	content: "\e7cb";
}
.icon-mail2:before {
	content: "\e7cc";
}
.icon-mail3:before {
	content: "\e7cd";
}
.icon-mail4:before {
	content: "\e7ce";
}
.icon-google:before {
	content: "\e7cf";
}
.icon-googleplus:before {
	content: "\e7d0";
}
.icon-googleplus2:before {
	content: "\e7d1";
}
.icon-googleplus3:before {
	content: "\e7d2";
}
.icon-googleplus4:before {
	content: "\e7d3";
}
.icon-google-drive:before {
	content: "\e7d4";
}
.icon-facebook:before {
	content: "\e7d5";
}
.icon-facebook2:before {
	content: "\e7d6";
}
.icon-facebook3:before {
	content: "\e7d7";
}
.icon-instagram:before {
	content: "\e7d8";
}
.icon-twitter2:before {
	content: "\e7d9";
}
.icon-twitter3:before {
	content: "\e7da";
}
.icon-twitter4:before {
	content: "\e7db";
}
.icon-feed3:before {
	content: "\e7dc";
}
.icon-feed4:before {
	content: "\e7dd";
}
.icon-feed5:before {
	content: "\e7de";
}
.icon-youtube:before {
	content: "\e7df";
}
.icon-youtube2:before {
	content: "\e7e0";
}
.icon-vimeo:before {
	content: "\e7e1";
}
.icon-vimeo2:before {
	content: "\e7e2";
}
.icon-vimeo3:before {
	content: "\e7e3";
}
.icon-lanyrd:before {
	content: "\e7e4";
}
.icon-flickr:before {
	content: "\e7e5";
}
.icon-flickr2:before {
	content: "\e7e6";
}
.icon-flickr3:before {
	content: "\e7e7";
}
.icon-flickr4:before {
	content: "\e7e8";
}
.icon-picassa:before {
	content: "\e7e9";
}
.icon-picassa2:before {
	content: "\e7ea";
}
.icon-dribbble2:before {
	content: "\e7eb";
}
.icon-dribbble3:before {
	content: "\e7ec";
}
.icon-dribbble4:before {
	content: "\e7ed";
}
.icon-forrst2:before {
	content: "\e7ee";
}
.icon-forrst3:before {
	content: "\e7ef";
}
.icon-deviantart:before {
	content: "\e7f0";
}
.icon-deviantart2:before {
	content: "\e7f1";
}
.icon-steam:before {
	content: "\e7f2";
}
.icon-steam2:before {
	content: "\e7f3";
}
.icon-github:before {
	content: "\e7f4";
}
.icon-github2:before {
	content: "\e7f5";
}
.icon-github3:before {
	content: "\e7f6";
}
.icon-github4:before {
	content: "\e7f7";
}
.icon-github5:before {
	content: "\e7f8";
}
.icon-wordpress:before {
	content: "\e7f9";
}
.icon-wordpress2:before {
	content: "\e7fa";
}
.icon-joomla:before {
	content: "\e7fb";
}
.icon-blogger:before {
	content: "\e7fc";
}
.icon-blogger2:before {
	content: "\e7fd";
}
.icon-tumblr:before {
	content: "\e7fe";
}
.icon-tumblr2:before {
	content: "\e7ff";
}
.icon-yahoo:before {
	content: "\e800";
}
.icon-tux:before {
	content: "\e801";
}
.icon-apple2:before {
	content: "\e802";
}
.icon-finder:before {
	content: "\e803";
}
.icon-android:before {
	content: "\e804";
}
.icon-windows:before {
	content: "\e805";
}
.icon-windows8:before {
	content: "\e806";
}
.icon-soundcloud:before {
	content: "\e807";
}
.icon-soundcloud2:before {
	content: "\e808";
}
.icon-skype2:before {
	content: "\e809";
}
.icon-reddit:before {
	content: "\e80a";
}
.icon-linkedin:before {
	content: "\e80b";
}
.icon-lastfm:before {
	content: "\e80c";
}
.icon-lastfm2:before {
	content: "\e80d";
}
.icon-delicious:before {
	content: "\e80e";
}
.icon-stumbleupon:before {
	content: "\e80f";
}
.icon-stumbleupon2:before {
	content: "\e810";
}
.icon-stackoverflow:before {
	content: "\e811";
}
.icon-pinterest:before {
	content: "\e812";
}
.icon-pinterest2:before {
	content: "\e813";
}
.icon-xing:before {
	content: "\e814";
}
.icon-xing2:before {
	content: "\e815";
}
.icon-flattr:before {
	content: "\e816";
}
.icon-foursquare:before {
	content: "\e817";
}
.icon-foursquare2:before {
	content: "\e818";
}
.icon-paypal:before {
	content: "\e819";
}
.icon-paypal2:before {
	content: "\e81a";
}
.icon-paypal3:before {
	content: "\e81b";
}
.icon-yelp:before {
	content: "\e81c";
}
.icon-libreoffice:before {
	content: "\e81d";
}
.icon-file-pdf:before {
	content: "\e81e";
}
.icon-file-openoffice:before {
	content: "\e81f";
}
.icon-file-word:before {
	content: "\e820";
}
.icon-file-excel:before {
	content: "\e821";
}
.icon-file-zip:before {
	content: "\e822";
}
.icon-file-powerpoint:before {
	content: "\e823";
}
.icon-file-xml:before {
	content: "\e824";
}
.icon-file-css:before {
	content: "\e825";
}
.icon-html5:before {
	content: "\e826";
}
.icon-html52:before {
	content: "\e827";
}
.icon-css3:before {
	content: "\e828";
}
.icon-chrome:before {
	content: "\e829";
}
.icon-firefox:before {
	content: "\e82a";
}
.icon-IE:before {
	content: "\e82b";
}
.icon-opera:before {
	content: "\e82c";
}
.icon-safari:before {
	content: "\e82d";
}
.icon-IcoMoon:before {
	content: "\e82e";
}
