@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2ghu57');
	src:url('fonts/icomoon.eot?#iefix2ghu57') format('embedded-opentype'),
		url('fonts/icomoon.woff?2ghu57') format('woff'),
		url('fonts/icomoon.ttf?2ghu57') format('truetype'),
		url('fonts/icomoon.svg?2ghu57#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-drop-down:before {
	content: "\e600";
}

.icon-arrow-drop-up:before {
	content: "\e601";
}

.icon-expand-less:before {
	content: "\e602";
}

.icon-expand-more:before {
	content: "\e603";
}

.icon-more-horiz:before {
	content: "\e604";
}

.icon-more-vert:before {
	content: "\e605";
}

.icon-unfold-less:before {
	content: "\e606";
}

.icon-unfold-more:before {
	content: "\e607";
}

.icon-layout:before {
	content: "\e608";
}

.icon-layout2:before {
	content: "\e609";
}

.icon-layout3:before {
	content: "\e60a";
}

.icon-layout4:before {
	content: "\e60b";
}

.icon-layout5:before {
	content: "\e60c";
}

.icon-layout6:before {
	content: "\e60d";
}

.icon-layout7:before {
	content: "\e60e";
}

.icon-layout8:before {
	content: "\e60f";
}

.icon-layout9:before {
	content: "\e610";
}

.icon-layout10:before {
	content: "\e611";
}

.icon-layout11:before {
	content: "\e612";
}

.icon-layout12:before {
	content: "\e613";
}

.icon-layout13:before {
	content: "\e614";
}

.icon-layout14:before {
	content: "\e615";
}

.icon-stats:before {
	content: "\e616";
}

.icon-stats2:before {
	content: "\e617";
}

.icon-envelope:before {
	content: "\e618";
}

.icon-envelope2:before {
	content: "\e619";
}

.icon-home:before {
	content: "\e900";
}

.icon-home2:before {
	content: "\e901";
}

.icon-home3:before {
	content: "\e902";
}

.icon-office:before {
	content: "\e903";
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-blog:before {
	content: "\e909";
}

.icon-paint-format:before {
	content: "\e90c";
}

.icon-image:before {
	content: "\e90d";
}

.icon-images:before {
	content: "\e90e";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-headphones:before {
	content: "\e910";
}

.icon-music:before {
	content: "\e911";
}

.icon-play:before {
	content: "\e912";
}

.icon-film:before {
	content: "\e913";
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-book:before {
	content: "\e91f";
}

.icon-books:before {
	content: "\e920";
}

.icon-library:before {
	content: "\e921";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-profile:before {
	content: "\e923";
}

.icon-file-text2:before {
	content: "\e926";
}

.icon-file-picture:before {
	content: "\e927";
}

.icon-file-music:before {
	content: "\e928";
}

.icon-file-play:before {
	content: "\e929";
}

.icon-file-video:before {
	content: "\e92a";
}

.icon-file-zip:before {
	content: "\e92b";
}

.icon-copy:before {
	content: "\e92c";
}

.icon-paste:before {
	content: "\e92d";
}

.icon-stack:before {
	content: "\e92e";
}

.icon-folder:before {
	content: "\e92f";
}

.icon-folder-open:before {
	content: "\e930";
}

.icon-folder-plus:before {
	content: "\e931";
}

.icon-folder-minus:before {
	content: "\e932";
}

.icon-folder-download:before {
	content: "\e933";
}

.icon-folder-upload:before {
	content: "\e934";
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-price-tags:before {
	content: "\e936";
}

.icon-coin-dollar:before {
	content: "\e93b";
}

.icon-calculator:before {
	content: "\e940";
}

.icon-lifebuoy:before {
	content: "\e941";
}

.icon-phone:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-location:before {
	content: "\e947";
}

.icon-compass:before {
	content: "\e949";
}

.icon-map:before {
	content: "\e94b";
}

.icon-history:before {
	content: "\e94d";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-alarm:before {
	content: "\e950";
}

.icon-bell:before {
	content: "\e951";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-printer:before {
	content: "\e954";
}

.icon-keyboard:before {
	content: "\e955";
}

.icon-display:before {
	content: "\e956";
}

.icon-mobile:before {
	content: "\e958";
}

.icon-drawer:before {
	content: "\e95c";
}

.icon-drawer2:before {
	content: "\e95d";
}

.icon-box-add:before {
	content: "\e95e";
}

.icon-box-remove:before {
	content: "\e95f";
}

.icon-download:before {
	content: "\e960";
}

.icon-upload:before {
	content: "\e961";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-database:before {
	content: "\e964";
}

.icon-undo:before {
	content: "\e965";
}

.icon-redo:before {
	content: "\e966";
}

.icon-undo2:before {
	content: "\e967";
}

.icon-redo2:before {
	content: "\e968";
}

.icon-forward:before {
	content: "\e969";
}

.icon-reply:before {
	content: "\e96a";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-search:before {
	content: "\e986";
}

.icon-enlarge:before {
	content: "\e989";
}

.icon-shrink:before {
	content: "\e98a";
}

.icon-key:before {
	content: "\e98d";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-equalizer:before {
	content: "\e992";
}

.icon-equalizer2:before {
	content: "\e993";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-aid-kit:before {
	content: "\e998";
}

.icon-bug:before {
	content: "\e999";
}

.icon-pie-chart:before {
	content: "\e99a";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-stats-bars2:before {
	content: "\e99d";
}

.icon-trophy:before {
	content: "\e99e";
}

.icon-gift:before {
	content: "\e99f";
}

.icon-glass:before {
	content: "\e9a0";
}

.icon-mug:before {
	content: "\e9a2";
}

.icon-spoon-knife:before {
	content: "\e9a3";
}

.icon-leaf:before {
	content: "\e9a4";
}

.icon-rocket:before {
	content: "\e9a5";
}

.icon-meter:before {
	content: "\e9a6";
}

.icon-hammer2:before {
	content: "\e9a8";
}

.icon-fire:before {
	content: "\e9a9";
}

.icon-bin2:before {
	content: "\e9ad";
}

.icon-briefcase:before {
	content: "\e9ae";
}

.icon-airplane:before {
	content: "\e9af";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-accessibility:before {
	content: "\e9b2";
}

.icon-target:before {
	content: "\e9b3";
}

.icon-shield:before {
	content: "\e9b4";
}

.icon-power:before {
	content: "\e9b5";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-clipboard:before {
	content: "\e9b8";
}

.icon-list-numbered:before {
	content: "\e9b9";
}

.icon-list:before {
	content: "\e9ba";
}

.icon-list2:before {
	content: "\e9bb";
}

.icon-tree:before {
	content: "\e9bc";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-menu2:before {
	content: "\e9be";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-cloud:before {
	content: "\e9c1";
}

.icon-cloud-download:before {
	content: "\e9c2";
}

.icon-cloud-upload:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-download3:before {
	content: "\e9c7";
}

.icon-upload3:before {
	content: "\e9c8";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-attachment:before {
	content: "\e9cd";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-eye-plus:before {
	content: "\e9cf";
}

.icon-eye-minus:before {
	content: "\e9d0";
}

.icon-eye-blocked:before {
	content: "\e9d1";
}

.icon-bookmark:before {
	content: "\e9d2";
}

.icon-bookmarks:before {
	content: "\e9d3";
}

.icon-sun:before {
	content: "\e9d4";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-heart-broken:before {
	content: "\e9db";
}

.icon-man:before {
	content: "\e9dc";
}

.icon-woman:before {
	content: "\e9dd";
}

.icon-warning:before {
	content: "\ea07";
}

.icon-notification:before {
	content: "\ea08";
}

.icon-question:before {
	content: "\ea09";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-blocked:before {
	content: "\ea0e";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-loop:before {
	content: "\ea2d";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-infinite:before {
	content: "\ea2f";
}

.icon-shuffle:before {
	content: "\ea30";
}

.icon-tab:before {
	content: "\ea45";
}

.icon-move-up:before {
	content: "\ea46";
}

.icon-move-down:before {
	content: "\ea47";
}

.icon-sort-alpha-asc:before {
	content: "\ea48";
}

.icon-sort-alpha-desc:before {
	content: "\ea49";
}

.icon-sort-numeric-asc:before {
	content: "\ea4a";
}

.icon-sort-numberic-desc:before {
	content: "\ea4b";
}

.icon-sort-amount-asc:before {
	content: "\ea4c";
}

.icon-sort-amount-desc:before {
	content: "\ea4d";
}

.icon-filter:before {
	content: "\ea5b";
}

.icon-page-break:before {
	content: "\ea68";
}

.icon-pagebreak:before {
	content: "\ea6e";
}

.icon-table:before {
	content: "\ea70";
}

.icon-table2:before {
	content: "\ea71";
}

.icon-insert-template:before {
	content: "\ea72";
}

.icon-share:before {
	content: "\ea7d";
}

.icon-terminal:before {
	content: "\ea81";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-google:before {
	content: "\ea87";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-flickr2:before {
	content: "\eaa1";
}

.icon-dropbox:before {
	content: "\eaaf";
}

.icon-onedrive:before {
	content: "\eab0";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-wordpress:before {
	content: "\eab6";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac2";
}

.icon-soundcloud:before {
	content: "\eac4";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-file-pdf:before {
	content: "\eada";
}

.icon-file-openoffice:before {
	content: "\eadb";
}

.icon-file-word:before {
	content: "\eadc";
}

.icon-file-excel:before {
	content: "\eadd";
}

.icon-libreoffice:before {
	content: "\eade";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

