/*
	stylus-boilerplate

	icons.styl

	Author: Sean Goresht

	Icomoon variable and placeholder $icomoon generator.  Sets up and provides useful variables for all default icomoon variables
	@example
		.module
			&--star
				&:after
					@extend $icomoon
					content $icon-star
*/

font-face("icomoon", $iconFontPath, normal, normal, formats: woff truetype svg eot)

$icomoon
	font-family "icomoon"
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	// enable ligatures
	-webkit-font-feature-settings "liga"
	-moz-font-feature-settings "liga=1"
	-moz-font-feature-settings "liga"
	-ms-font-feature-settings "liga" 1
	-o-font-feature-settings "liga"
	font-feature-settings "liga"

	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

/* =============================================================================
Icons
========================================================================== */
$icons = {
	home: "\e900"
	house: "\e900"
	home2: "\e901"
	house2: "\e901"
	home3: "\e902"
	house3: "\e902"
	office: "\e903"
	buildings: "\e903"
	newspaper: "\e904"
	news: "\e904"
	pencil: "\e905"
	write: "\e905"
	blog: "\e909"
	pen2: "\e909"
	paint-format: "\e90c"
	format: "\e90c"
	image: "\e90d"
	picture: "\e90d"
	images: "\e90e"
	pictures: "\e90e"
	camera: "\e90f"
	photo: "\e90f"
	headphones: "\e910"
	headset: "\e910"
	music: "\e911"
	song: "\e911"
	play: "\e912"
	video: "\e912"
	film: "\e913"
	video2: "\e913"
	bullhorn: "\e91a"
	megaphone: "\e91a"
	connection: "\e91b"
	wifi: "\e91b"
	mic: "\e91e"
	microphone: "\e91e"
	book: "\e91f"
	read: "\e91f"
	books: "\e920"
	library: "\e920"
	library2: "\e921"
	bank: "\e921"
	file-text: "\e922"
	file: "\e922"
	profile: "\e923"
	file2: "\e923"
	file-text2: "\e926"
	file4: "\e926"
	file-picture: "\e927"
	file5: "\e927"
	file-music: "\e928"
	file6: "\e928"
	file-play: "\e929"
	file7: "\e929"
	file-video: "\e92a"
	file8: "\e92a"
	file-zip: "\e92b"
	file9: "\e92b"
	copy: "\e92c"
	duplicate: "\e92c"
	paste: "\e92d"
	clipboard-file: "\e92d"
	stack: "\e92e"
	layers: "\e92e"
	folder: "\e92f"
	directory: "\e92f"
	folder-open: "\e930"
	directory2: "\e930"
	folder-plus: "\e931"
	directory3: "\e931"
	folder-minus: "\e932"
	directory4: "\e932"
	folder-download: "\e933"
	directory5: "\e933"
	folder-upload: "\e934"
	directory6: "\e934"
	price-tag: "\e935"
	price-tags: "\e936"
	coin-dollar: "\e93b"
	money: "\e93b"
	calculator: "\e940"
	compute: "\e940"
	lifebuoy: "\e941"
	support: "\e941"
	phone: "\e942"
	telephone: "\e942"
	phone-hang-up: "\e943"
	telephone2: "\e943"
	address-book: "\e944"
	contact: "\e944"
	envelop: "\e945"
	mail: "\e945"
	pushpin: "\e946"
	pin: "\e946"
	location: "\e947"
	map-marker: "\e947"
	compass: "\e949"
	direction: "\e949"
	map: "\e94b"
	guide: "\e94b"
	history: "\e94d"
	time: "\e94d"
	clock: "\e94e"
	time2: "\e94e"
	clock2: "\e94f"
	time3: "\e94f"
	alarm: "\e950"
	time4: "\e950"
	bell: "\e951"
	alarm2: "\e951"
	calendar: "\e953"
	date: "\e953"
	printer: "\e954"
	print: "\e954"
	keyboard: "\e955"
	typing: "\e955"
	display: "\e956"
	screen: "\e956"
	mobile: "\e958"
	cell-phone: "\e958"
	drawer: "\e95c"
	box: "\e95c"
	drawer2: "\e95d"
	box2: "\e95d"
	box-add: "\e95e"
	box3: "\e95e"
	box-remove: "\e95f"
	box4: "\e95f"
	download: "\e960"
	save: "\e960"
	upload: "\e961"
	load: "\e961"
	floppy-disk: "\e962"
	save2: "\e962"
	database: "\e964"
	db: "\e964"
	undo: "\e965"
	ccw: "\e965"
	redo: "\e966"
	cw: "\e966"
	undo2: "\e967"
	left: "\e967"
	redo2: "\e968"
	right: "\e968"
	forward: "\e969"
	right2: "\e969"
	reply: "\e96a"
	left2: "\e96a"
	bubble: "\e96b"
	comment: "\e96b"
	bubbles: "\e96c"
	comments: "\e96c"
	bubbles2: "\e96d"
	comments2: "\e96d"
	bubble2: "\e96e"
	comment2: "\e96e"
	user: "\e971"
	profile2: "\e971"
	users: "\e972"
	group: "\e972"
	user-plus: "\e973"
	user2: "\e973"
	user-minus: "\e974"
	user3: "\e974"
	user-check: "\e975"
	user4: "\e975"
	user-tie: "\e976"
	user5: "\e976"
	spinner: "\e97a"
	loading2: "\e97a"
	binoculars: "\e985"
	lookup: "\e985"
	search: "\e986"
	magnifier: "\e986"
	enlarge: "\e989"
	expand: "\e989"
	shrink: "\e98a"
	collapse: "\e98a"
	key: "\e98d"
	password: "\e98d"
	lock: "\e98f"
	secure: "\e98f"
	unlocked: "\e990"
	lock-open: "\e990"
	wrench: "\e991"
	tool: "\e991"
	equalizer: "\e992"
	sliders: "\e992"
	equalizer2: "\e993"
	sliders2: "\e993"
	cog: "\e994"
	gear: "\e994"
	cogs: "\e995"
	gears: "\e995"
	aid-kit: "\e998"
	health: "\e998"
	bug: "\e999"
	virus: "\e999"
	pie-chart: "\e99a"
	stats: "\e99a"
	stats-dots: "\e99b"
	stats2: "\e99b"
	stats-bars: "\e99c"
	stats3: "\e99c"
	stats-bars2: "\e99d"
	stats4: "\e99d"
	trophy: "\e99e"
	cup: "\e99e"
	gift: "\e99f"
	present: "\e99f"
	glass: "\e9a0"
	drink: "\e9a0"
	mug: "\e9a2"
	drink3: "\e9a2"
	spoon-knife: "\e9a3"
	food: "\e9a3"
	leaf: "\e9a4"
	nature: "\e9a4"
	rocket: "\e9a5"
	jet: "\e9a5"
	meter: "\e9a6"
	gauge: "\e9a6"
	hammer2: "\e9a8"
	gavel: "\e9a8"
	fire: "\e9a9"
	flame: "\e9a9"
	bin2: "\e9ad"
	trashcan2: "\e9ad"
	briefcase: "\e9ae"
	portfolio: "\e9ae"
	airplane: "\e9af"
	travel: "\e9af"
	truck: "\e9b0"
	transit: "\e9b0"
	road: "\e9b1"
	asphalt: "\e9b1"
	accessibility: "\e9b2"
	target: "\e9b3"
	goal: "\e9b3"
	shield: "\e9b4"
	security: "\e9b4"
	power: "\e9b5"
	lightning: "\e9b5"
	switch: "\e9b6"
	power-cord: "\e9b7"
	plugin: "\e9b7"
	clipboard: "\e9b8"
	board: "\e9b8"
	list-numbered: "\e9b9"
	options: "\e9b9"
	list: "\e9ba"
	todo: "\e9ba"
	list2: "\e9bb"
	todo2: "\e9bb"
	tree: "\e9bc"
	branches: "\e9bc"
	menu: "\e9bd"
	list3: "\e9bd"
	menu2: "\e9be"
	options2: "\e9be"
	menu3: "\e9bf"
	options3: "\e9bf"
	menu4: "\e9c0"
	options4: "\e9c0"
	cloud: "\e9c1"
	weather: "\e9c1"
	cloud-download: "\e9c2"
	cloud2: "\e9c2"
	cloud-upload: "\e9c3"
	cloud3: "\e9c3"
	cloud-check: "\e9c4"
	cloud4: "\e9c4"
	download3: "\e9c7"
	save5: "\e9c7"
	upload3: "\e9c8"
	load3: "\e9c8"
	sphere: "\e9c9"
	globe: "\e9c9"
	earth: "\e9ca"
	globe2: "\e9ca"
	link: "\e9cb"
	chain: "\e9cb"
	flag: "\e9cc"
	report: "\e9cc"
	attachment: "\e9cd"
	paperclip: "\e9cd"
	eye: "\e9ce"
	views: "\e9ce"
	eye-plus: "\e9cf"
	views2: "\e9cf"
	eye-minus: "\e9d0"
	views3: "\e9d0"
	eye-blocked: "\e9d1"
	views4: "\e9d1"
	bookmark: "\e9d2"
	ribbon: "\e9d2"
	bookmarks: "\e9d3"
	ribbons: "\e9d3"
	sun: "\e9d4"
	weather2: "\e9d4"
	star-empty: "\e9d7"
	rate: "\e9d7"
	star-full: "\e9d9"
	rate3: "\e9d9"
	heart: "\e9da"
	like: "\e9da"
	heart-broken: "\e9db"
	heart2: "\e9db"
	man: "\e9dc"
	male: "\e9dc"
	woman: "\e9dd"
	female: "\e9dd"
	warning: "\ea07"
	sign: "\ea07"
	notification: "\ea08"
	warning2: "\ea08"
	question: "\ea09"
	help: "\ea09"
	plus: "\ea0a"
	add: "\ea0a"
	minus: "\ea0b"
	subtract: "\ea0b"
	info: "\ea0c"
	information: "\ea0c"
	cancel-circle: "\ea0d"
	close: "\ea0d"
	blocked: "\ea0e"
	forbidden: "\ea0e"
	cross: "\ea0f"
	cancel: "\ea0f"
	checkmark: "\ea10"
	tick: "\ea10"
	checkmark2: "\ea11"
	tick2: "\ea11"
	enter: "\ea13"
	signin: "\ea13"
	exit: "\ea14"
	signout: "\ea14"
	loop: "\ea2d"
	repeat: "\ea2d"
	loop2: "\ea2e"
	repeat2: "\ea2e"
	infinite: "\ea2f"
	shuffle: "\ea30"
	random: "\ea30"
	tab: "\ea45"
	arrows: "\ea45"
	move-up: "\ea46"
	sort: "\ea46"
	move-down: "\ea47"
	sort2: "\ea47"
	sort-alpha-asc: "\ea48"
	arrange: "\ea48"
	sort-alpha-desc: "\ea49"
	arrange2: "\ea49"
	sort-numeric-asc: "\ea4a"
	arrange3: "\ea4a"
	sort-numberic-desc: "\ea4b"
	arrange4: "\ea4b"
	sort-amount-asc: "\ea4c"
	arrange5: "\ea4c"
	sort-amount-desc: "\ea4d"
	arrange6: "\ea4d"
	filter: "\ea5b"
	funnel: "\ea5b"
	page-break: "\ea68"
	wysiwyg10: "\ea68"
	pagebreak: "\ea6e"
	wysiwyg16: "\ea6e"
	table: "\ea70"
	wysiwyg18: "\ea70"
	table2: "\ea71"
	wysiwyg19: "\ea71"
	insert-template: "\ea72"
	wysiwyg20: "\ea72"
	share: "\ea7d"
	out: "\ea7d"
	terminal: "\ea81"
	console: "\ea81"
	mail5: "\ea86"
	contact5: "\ea86"
	google: "\ea87"
	brand: "\ea87"
	google-plus: "\ea88"
	brand2: "\ea88"
	facebook2: "\ea8d"
	brand7: "\ea8d"
	twitter: "\ea91"
	brand11: "\ea91"
	youtube3: "\ea99"
	brand16: "\ea99"
	vimeo: "\ea9c"
	brand19: "\ea9c"
	flickr2: "\eaa1"
	brand24: "\eaa1"
	dropbox: "\eaaf"
	brand38: "\eaaf"
	onedrive: "\eab0"
	brand39: "\eab0"
	github2: "\eab2"
	brand41: "\eab2"
	github4: "\eab4"
	brand43: "\eab4"
	wordpress: "\eab6"
	brand45: "\eab6"
	apple: "\eabf"
	brand54: "\eabf"
	android: "\eac1"
	brand56: "\eac1"
	windows: "\eac2"
	brand57: "\eac2"
	soundcloud: "\eac4"
	brand59: "\eac4"
	linkedin2: "\eac9"
	brand64: "\eac9"
	file-pdf: "\eada"
	file10: "\eada"
	file-openoffice: "\eadb"
	file11: "\eadb"
	file-word: "\eadc"
	file12: "\eadc"
	file-excel: "\eadd"
	file13: "\eadd"
	libreoffice: "\eade"
	file14: "\eade"
	chrome: "\eae5"
	browser: "\eae5"
	firefox: "\eae6"
	browser2: "\eae6"
	IE: "\eae7"
	browser3: "\eae7"
	opera: "\eae8"
	browser4: "\eae8"
	safari: "\eae9"
	browser5: "\eae9"
}

for icon, ascii in $icons
	define("$" + "icon-" + icon, ascii)
	.icon-{icon}
		@extend $icomoon
		&:before
			content ascii

.icon-description
	@extend $visuallyhidden

// the following can be removed, and simply serve for auto-complete
$icon-home = "\e900"
$icon-house = "\e900"
$icon-home2 = "\e901"
$icon-house2 = "\e901"
$icon-home3 = "\e902"
$icon-house3 = "\e902"
$icon-office = "\e903"
$icon-buildings = "\e903"
$icon-newspaper = "\e904"
$icon-news = "\e904"
$icon-pencil = "\e905"
$icon-write = "\e905"
$icon-blog = "\e909"
$icon-pen2 = "\e909"
$icon-paint-format = "\e90c"
$icon-format = "\e90c"
$icon-image = "\e90d"
$icon-picture = "\e90d"
$icon-images = "\e90e"
$icon-pictures = "\e90e"
$icon-camera = "\e90f"
$icon-photo = "\e90f"
$icon-headphones = "\e910"
$icon-headset = "\e910"
$icon-music = "\e911"
$icon-song = "\e911"
$icon-play = "\e912"
$icon-video = "\e912"
$icon-film = "\e913"
$icon-video2 = "\e913"
$icon-bullhorn = "\e91a"
$icon-megaphone = "\e91a"
$icon-connection = "\e91b"
$icon-wifi = "\e91b"
$icon-mic = "\e91e"
$icon-microphone = "\e91e"
$icon-book = "\e91f"
$icon-read = "\e91f"
$icon-books = "\e920"
$icon-library = "\e920"
$icon-library2 = "\e921"
$icon-bank = "\e921"
$icon-file-text = "\e922"
$icon-file = "\e922"
$icon-profile = "\e923"
$icon-file2 = "\e923"
$icon-file-text2 = "\e926"
$icon-file4 = "\e926"
$icon-file-picture = "\e927"
$icon-file5 = "\e927"
$icon-file-music = "\e928"
$icon-file6 = "\e928"
$icon-file-play = "\e929"
$icon-file7 = "\e929"
$icon-file-video = "\e92a"
$icon-file8 = "\e92a"
$icon-file-zip = "\e92b"
$icon-file9 = "\e92b"
$icon-copy = "\e92c"
$icon-duplicate = "\e92c"
$icon-paste = "\e92d"
$icon-clipboard-file = "\e92d"
$icon-stack = "\e92e"
$icon-layers = "\e92e"
$icon-folder = "\e92f"
$icon-directory = "\e92f"
$icon-folder-open = "\e930"
$icon-directory2 = "\e930"
$icon-folder-plus = "\e931"
$icon-directory3 = "\e931"
$icon-folder-minus = "\e932"
$icon-directory4 = "\e932"
$icon-folder-download = "\e933"
$icon-directory5 = "\e933"
$icon-folder-upload = "\e934"
$icon-directory6 = "\e934"
$icon-price-tag = "\e935"
$icon-price-tags = "\e936"
$icon-coin-dollar = "\e93b"
$icon-money = "\e93b"
$icon-calculator = "\e940"
$icon-compute = "\e940"
$icon-lifebuoy = "\e941"
$icon-support = "\e941"
$icon-phone = "\e942"
$icon-telephone = "\e942"
$icon-phone-hang-up = "\e943"
$icon-telephone2 = "\e943"
$icon-address-book = "\e944"
$icon-contact = "\e944"
$icon-envelop = "\e945"
$icon-mail = "\e945"
$icon-pushpin = "\e946"
$icon-pin = "\e946"
$icon-location = "\e947"
$icon-map-marker = "\e947"
$icon-compass = "\e949"
$icon-direction = "\e949"
$icon-map = "\e94b"
$icon-guide = "\e94b"
$icon-history = "\e94d"
$icon-time = "\e94d"
$icon-clock = "\e94e"
$icon-time2 = "\e94e"
$icon-clock2 = "\e94f"
$icon-time3 = "\e94f"
$icon-alarm = "\e950"
$icon-time4 = "\e950"
$icon-bell = "\e951"
$icon-alarm2 = "\e951"
$icon-calendar = "\e953"
$icon-date = "\e953"
$icon-printer = "\e954"
$icon-print = "\e954"
$icon-keyboard = "\e955"
$icon-typing = "\e955"
$icon-display = "\e956"
$icon-screen = "\e956"
$icon-mobile = "\e958"
$icon-cell-phone = "\e958"
$icon-drawer = "\e95c"
$icon-box = "\e95c"
$icon-drawer2 = "\e95d"
$icon-box2 = "\e95d"
$icon-box-add = "\e95e"
$icon-box3 = "\e95e"
$icon-box-remove = "\e95f"
$icon-box4 = "\e95f"
$icon-download = "\e960"
$icon-save = "\e960"
$icon-upload = "\e961"
$icon-load = "\e961"
$icon-floppy-disk = "\e962"
$icon-save2 = "\e962"
$icon-database = "\e964"
$icon-db = "\e964"
$icon-undo = "\e965"
$icon-ccw = "\e965"
$icon-redo = "\e966"
$icon-cw = "\e966"
$icon-undo2 = "\e967"
$icon-left = "\e967"
$icon-redo2 = "\e968"
$icon-right = "\e968"
$icon-forward = "\e969"
$icon-right2 = "\e969"
$icon-reply = "\e96a"
$icon-left2 = "\e96a"
$icon-bubble = "\e96b"
$icon-comment = "\e96b"
$icon-bubbles = "\e96c"
$icon-comments = "\e96c"
$icon-bubbles2 = "\e96d"
$icon-comments2 = "\e96d"
$icon-bubble2 = "\e96e"
$icon-comment2 = "\e96e"
$icon-user = "\e971"
$icon-profile2 = "\e971"
$icon-users = "\e972"
$icon-group = "\e972"
$icon-user-plus = "\e973"
$icon-user2 = "\e973"
$icon-user-minus = "\e974"
$icon-user3 = "\e974"
$icon-user-check = "\e975"
$icon-user4 = "\e975"
$icon-user-tie = "\e976"
$icon-user5 = "\e976"
$icon-spinner = "\e97a"
$icon-loading2 = "\e97a"
$icon-binoculars = "\e985"
$icon-lookup = "\e985"
$icon-search = "\e986"
$icon-magnifier = "\e986"
$icon-enlarge = "\e989"
$icon-expand = "\e989"
$icon-shrink = "\e98a"
$icon-collapse = "\e98a"
$icon-key = "\e98d"
$icon-password = "\e98d"
$icon-lock = "\e98f"
$icon-secure = "\e98f"
$icon-unlocked = "\e990"
$icon-lock-open = "\e990"
$icon-wrench = "\e991"
$icon-tool = "\e991"
$icon-equalizer = "\e992"
$icon-sliders = "\e992"
$icon-equalizer2 = "\e993"
$icon-sliders2 = "\e993"
$icon-cog = "\e994"
$icon-gear = "\e994"
$icon-cogs = "\e995"
$icon-gears = "\e995"
$icon-aid-kit = "\e998"
$icon-health = "\e998"
$icon-bug = "\e999"
$icon-virus = "\e999"
$icon-pie-chart = "\e99a"
$icon-stats = "\e99a"
$icon-stats-dots = "\e99b"
$icon-stats2 = "\e99b"
$icon-stats-bars = "\e99c"
$icon-stats3 = "\e99c"
$icon-stats-bars2 = "\e99d"
$icon-stats4 = "\e99d"
$icon-trophy = "\e99e"
$icon-cup = "\e99e"
$icon-gift = "\e99f"
$icon-present = "\e99f"
$icon-glass = "\e9a0"
$icon-drink = "\e9a0"
$icon-mug = "\e9a2"
$icon-drink3 = "\e9a2"
$icon-spoon-knife = "\e9a3"
$icon-food = "\e9a3"
$icon-leaf = "\e9a4"
$icon-nature = "\e9a4"
$icon-rocket = "\e9a5"
$icon-jet = "\e9a5"
$icon-meter = "\e9a6"
$icon-gauge = "\e9a6"
$icon-hammer2 = "\e9a8"
$icon-gavel = "\e9a8"
$icon-fire = "\e9a9"
$icon-flame = "\e9a9"
$icon-bin2 = "\e9ad"
$icon-trashcan2 = "\e9ad"
$icon-briefcase = "\e9ae"
$icon-portfolio = "\e9ae"
$icon-airplane = "\e9af"
$icon-travel = "\e9af"
$icon-truck = "\e9b0"
$icon-transit = "\e9b0"
$icon-road = "\e9b1"
$icon-asphalt = "\e9b1"
$icon-accessibility = "\e9b2"
$icon-target = "\e9b3"
$icon-goal = "\e9b3"
$icon-shield = "\e9b4"
$icon-security = "\e9b4"
$icon-power = "\e9b5"
$icon-lightning = "\e9b5"
$icon-switch = "\e9b6"
$icon-power-cord = "\e9b7"
$icon-plugin = "\e9b7"
$icon-clipboard = "\e9b8"
$icon-board = "\e9b8"
$icon-list-numbered = "\e9b9"
$icon-options = "\e9b9"
$icon-list = "\e9ba"
$icon-todo = "\e9ba"
$icon-list2 = "\e9bb"
$icon-todo2 = "\e9bb"
$icon-tree = "\e9bc"
$icon-branches = "\e9bc"
$icon-menu = "\e9bd"
$icon-list3 = "\e9bd"
$icon-menu2 = "\e9be"
$icon-options2 = "\e9be"
$icon-menu3 = "\e9bf"
$icon-options3 = "\e9bf"
$icon-menu4 = "\e9c0"
$icon-options4 = "\e9c0"
$icon-cloud = "\e9c1"
$icon-weather = "\e9c1"
$icon-cloud-download = "\e9c2"
$icon-cloud2 = "\e9c2"
$icon-cloud-upload = "\e9c3"
$icon-cloud3 = "\e9c3"
$icon-cloud-check = "\e9c4"
$icon-cloud4 = "\e9c4"
$icon-download3 = "\e9c7"
$icon-save5 = "\e9c7"
$icon-upload3 = "\e9c8"
$icon-load3 = "\e9c8"
$icon-sphere = "\e9c9"
$icon-globe = "\e9c9"
$icon-earth = "\e9ca"
$icon-globe2 = "\e9ca"
$icon-link = "\e9cb"
$icon-chain = "\e9cb"
$icon-flag = "\e9cc"
$icon-report = "\e9cc"
$icon-attachment = "\e9cd"
$icon-paperclip = "\e9cd"
$icon-eye = "\e9ce"
$icon-views = "\e9ce"
$icon-eye-plus = "\e9cf"
$icon-views2 = "\e9cf"
$icon-eye-minus = "\e9d0"
$icon-views3 = "\e9d0"
$icon-eye-blocked = "\e9d1"
$icon-views4 = "\e9d1"
$icon-bookmark = "\e9d2"
$icon-ribbon = "\e9d2"
$icon-bookmarks = "\e9d3"
$icon-ribbons = "\e9d3"
$icon-sun = "\e9d4"
$icon-weather2 = "\e9d4"
$icon-star-empty = "\e9d7"
$icon-rate = "\e9d7"
$icon-star-full = "\e9d9"
$icon-rate3 = "\e9d9"
$icon-heart = "\e9da"
$icon-like = "\e9da"
$icon-heart-broken = "\e9db"
$icon-heart2 = "\e9db"
$icon-man = "\e9dc"
$icon-male = "\e9dc"
$icon-woman = "\e9dd"
$icon-female = "\e9dd"
$icon-warning = "\ea07"
$icon-sign = "\ea07"
$icon-notification = "\ea08"
$icon-warning2 = "\ea08"
$icon-question = "\ea09"
$icon-help = "\ea09"
$icon-plus = "\ea0a"
$icon-add = "\ea0a"
$icon-minus = "\ea0b"
$icon-subtract = "\ea0b"
$icon-info = "\ea0c"
$icon-information = "\ea0c"
$icon-cancel-circle = "\ea0d"
$icon-close = "\ea0d"
$icon-blocked = "\ea0e"
$icon-forbidden = "\ea0e"
$icon-cross = "\ea0f"
$icon-cancel = "\ea0f"
$icon-checkmark = "\ea10"
$icon-tick = "\ea10"
$icon-checkmark2 = "\ea11"
$icon-tick2 = "\ea11"
$icon-enter = "\ea13"
$icon-signin = "\ea13"
$icon-exit = "\ea14"
$icon-signout = "\ea14"
$icon-loop = "\ea2d"
$icon-repeat = "\ea2d"
$icon-loop2 = "\ea2e"
$icon-repeat2 = "\ea2e"
$icon-infinite = "\ea2f"
$icon-shuffle = "\ea30"
$icon-random = "\ea30"
$icon-tab = "\ea45"
$icon-arrows = "\ea45"
$icon-move-up = "\ea46"
$icon-sort = "\ea46"
$icon-move-down = "\ea47"
$icon-sort2 = "\ea47"
$icon-sort-alpha-asc = "\ea48"
$icon-arrange = "\ea48"
$icon-sort-alpha-desc = "\ea49"
$icon-arrange2 = "\ea49"
$icon-sort-numeric-asc = "\ea4a"
$icon-arrange3 = "\ea4a"
$icon-sort-numberic-desc = "\ea4b"
$icon-arrange4 = "\ea4b"
$icon-sort-amount-asc = "\ea4c"
$icon-arrange5 = "\ea4c"
$icon-sort-amount-desc = "\ea4d"
$icon-arrange6 = "\ea4d"
$icon-filter = "\ea5b"
$icon-funnel = "\ea5b"
$icon-page-break = "\ea68"
$icon-wysiwyg10 = "\ea68"
$icon-pagebreak = "\ea6e"
$icon-wysiwyg16 = "\ea6e"
$icon-table = "\ea70"
$icon-wysiwyg18 = "\ea70"
$icon-table2 = "\ea71"
$icon-wysiwyg19 = "\ea71"
$icon-insert-template = "\ea72"
$icon-wysiwyg20 = "\ea72"
$icon-share = "\ea7d"
$icon-out = "\ea7d"
$icon-terminal = "\ea81"
$icon-console = "\ea81"
$icon-mail5 = "\ea86"
$icon-contact5 = "\ea86"
$icon-google = "\ea87"
$icon-brand = "\ea87"
$icon-google-plus = "\ea88"
$icon-brand2 = "\ea88"
$icon-facebook2 = "\ea8d"
$icon-brand7 = "\ea8d"
$icon-twitter = "\ea91"
$icon-brand11 = "\ea91"
$icon-youtube3 = "\ea99"
$icon-brand16 = "\ea99"
$icon-vimeo = "\ea9c"
$icon-brand19 = "\ea9c"
$icon-flickr2 = "\eaa1"
$icon-brand24 = "\eaa1"
$icon-dropbox = "\eaaf"
$icon-brand38 = "\eaaf"
$icon-onedrive = "\eab0"
$icon-brand39 = "\eab0"
$icon-github2 = "\eab2"
$icon-brand41 = "\eab2"
$icon-github4 = "\eab4"
$icon-brand43 = "\eab4"
$icon-wordpress = "\eab6"
$icon-brand45 = "\eab6"
$icon-apple = "\eabf"
$icon-brand54 = "\eabf"
$icon-android = "\eac1"
$icon-brand56 = "\eac1"
$icon-windows = "\eac2"
$icon-brand57 = "\eac2"
$icon-soundcloud = "\eac4"
$icon-brand59 = "\eac4"
$icon-linkedin2 = "\eac9"
$icon-brand64 = "\eac9"
$icon-file-pdf = "\eada"
$icon-file10 = "\eada"
$icon-file-openoffice = "\eadb"
$icon-file11 = "\eadb"
$icon-file-word = "\eadc"
$icon-file12 = "\eadc"
$icon-file-excel = "\eadd"
$icon-file13 = "\eadd"
$icon-libreoffice = "\eade"
$icon-file14 = "\eade"
$icon-chrome = "\eae5"
$icon-browser = "\eae5"
$icon-firefox = "\eae6"
$icon-browser2 = "\eae6"
$icon-IE = "\eae7"
$icon-browser3 = "\eae7"
$icon-opera = "\eae8"
$icon-browser4 = "\eae8"
$icon-safari = "\eae9"
$icon-browser5 = "\eae9"
