/*
	stylus-boilerplate

	forms.styl

	Author: Sean Goresht

	Created on 2014-08-23 by PhpStorm
*/

$formSectionBorder ?= 1px solid #CCC
$formSectionMargin ?= 1em
$formSectionHeadingPadding ?= 1em

.form
	&-section
		border $formSectionBorder
		margin $formSectionMargin
		display table
		width 100%
		&-header
			padding $formSectionHeadingPadding
		&-label
			display table-cell
			vertical-align top
		&-controls
			display table-cell
			&-appended
				display table
				width 100%
				input, select, textarea, label
					display table-cell
					vertical-align middle
	&-field
		padding $paddingMini $padding
	&-actions
		margin $margin 0
		text-align center
