/*
	stylus-boilerplate

	grid.styl

	Author: Sean Goresht

	Grid logic for generating grid placeholders
	@example
		@extend $col-4 (assuming 12 columns -- default) => width 33%
*/

$row
	gs($gridStyle) // default: fluid

for column in (1..$columns)
	$col-{column}
		col(column)
		@extend $border-box
		+media-query($breakpointMain)
			display block
			float none
			width 100%
			margin 0
