/*
	stylus-boilerplate

	icons.styl

	Author: Sean Goresht

	Icomoon variable and placeholder $icomoon generator.  Sets up and provides useful variables for all default icomoon variables
	@example
		.module
			&--star
				&:after
					@extend $icomoon
					content $icon-star
*/

font-face("icomoon", $iconFontPath, normal, normal, formats: woff truetype svg eot)

$icomoon
	font-family "icomoon"
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

/* =============================================================================
Icons
========================================================================== */
$icons = {
	home2: "\e66c"

	home3: "\e66d"

	home4: "\e66e"

	office: "\e66f"

	newspaper: "\e670"

	pencil2: "\e671"

	pencil3: "\e672"

	quill: "\e673"

	pen: "\e674"

	blog: "\e675"

	droplet2: "\e676"

	paint-format: "\e677"

	image: "\e678"

	image2: "\e679"

	images: "\e67a"

	camera3: "\e67b"

	music2: "\e67c"

	headphones2: "\e67d"

	play2: "\e67e"

	film2: "\e67f"

	camera4: "\e680"

	dice: "\e681"

	pacman: "\e682"

	spades: "\e683"

	clubs: "\e684"

	diamonds: "\e685"

	pawn: "\e686"

	bullhorn: "\e687"

	connection: "\e688"

	podcast: "\e689"

	feed2: "\e68a"

	book: "\e68b"

	books: "\e68c"

	library: "\e68d"

	file2: "\e68e"

	profile: "\e68f"

	file3: "\e690"

	file4: "\e691"

	file5: "\e692"

	copy: "\e693"

	copy2: "\e694"

	copy3: "\e695"

	paste: "\e696"

	paste2: "\e697"

	paste3: "\e698"

	stack: "\e699"

	folder2: "\e69a"

	folder-open: "\e69b"

	tag2: "\e69c"

	tags: "\e69d"

	barcode: "\e69e"

	qrcode: "\e69f"

	ticket: "\e6a0"

	cart2: "\e6a1"

	cart3: "\e6a2"

	cart4: "\e6a3"

	coin: "\e6a4"

	credit: "\e6a5"

	calculate: "\e6a6"

	support: "\e6a7"

	phone2: "\e6a8"

	phone-hang-up: "\e6a9"

	address-book: "\e6aa"

	notebook: "\e6ab"

	envelope2: "\e6ac"

	pushpin: "\e6ad"

	location3: "\e6ae"

	location4: "\e6af"

	compass2: "\e6b0"

	map: "\e6b1"

	map2: "\e6b2"

	history: "\e6b3"

	clock2: "\e6b4"

	clock3: "\e6b5"

	alarm2: "\e6b6"

	alarm3: "\e6b7"

	bell: "\e6b8"

	stopwatch: "\e6b9"

	calendar2: "\e6ba"

	calendar3: "\e6bb"

	print: "\e6bc"

	keyboard2: "\e6bd"

	screen: "\e6be"

	laptop: "\e6bf"

	mobile2: "\e6c0"

	mobile3: "\e6c1"

	tablet: "\e6c2"

	tv: "\e6c3"

	cabinet: "\e6c4"

	drawer: "\e6c5"

	drawer2: "\e6c6"

	drawer3: "\e6c7"

	box-add: "\e6c8"

	box-remove: "\e6c9"

	download: "\e6ca"

	upload: "\e6cb"

	disk2: "\e6cc"

	storage: "\e6cd"

	undo: "\e6ce"

	redo: "\e6cf"

	flip: "\e6d0"

	flip2: "\e6d1"

	undo2: "\e6d2"

	redo2: "\e6d3"

	forward2: "\e6d4"

	reply: "\e6d5"

	bubble: "\e6d6"

	bubbles: "\e6d7"

	bubbles2: "\e6d8"

	bubble2: "\e6d9"

	bubbles3: "\e6da"

	bubbles4: "\e6db"

	user2: "\e6dc"

	users: "\e6dd"

	user3: "\e6de"

	users2: "\e6df"

	user4: "\e6e0"

	user5: "\e6e1"

	quotes-left: "\e6e2"

	busy: "\e6e3"

	spinner: "\e6e4"

	spinner2: "\e6e5"

	spinner3: "\e6e6"

	spinner4: "\e6e7"

	spinner5: "\e6e8"

	spinner6: "\e6e9"

	binoculars: "\e6ea"

	search2: "\e6eb"

	zoomin: "\e6ec"

	zoomout: "\e6ed"

	expand: "\e6ee"

	contract: "\e6ef"

	expand2: "\e6f0"

	contract2: "\e6f1"

	key2: "\e6f2"

	key3: "\e6f3"

	lock: "\e6f4"

	lock2: "\e6f5"

	unlocked: "\e6f6"

	wrench2: "\e6f7"

	settings: "\e6f8"

	equalizer: "\e6f9"

	cog2: "\e6fa"

	cogs: "\e6fb"

	cog3: "\e6fc"

	hammer: "\e6fd"

	wand: "\e6fe"

	aid: "\e6ff"

	bug2: "\e700"

	pie: "\e701"

	stats2: "\e702"

	bars: "\e703"

	bars2: "\e704"

	gift2: "\e705"

	trophy2: "\e706"

	glass: "\e707"

	mug: "\e708"

	food: "\e709"

	leaf: "\e70a"

	rocket: "\e70b"

	meter: "\e70c"

	meter2: "\e70d"

	dashboard: "\e70e"

	hammer2: "\e70f"

	fire: "\e710"

	lab: "\e711"

	magnet: "\e712"

	remove: "\e713"

	remove2: "\e714"

	briefcase2: "\e715"

	airplane: "\e716"

	truck: "\e717"

	road: "\e718"

	accessibility: "\e719"

	target4: "\e71a"

	shield: "\e71b"

	lightning: "\e71c"

	switch2: "\e71d"

	powercord: "\e71e"

	signup: "\e71f"

	list2: "\e720"

	list3: "\e721"

	numbered-list: "\e722"

	menu: "\e723"

	menu2: "\e724"

	tree: "\e725"

	cloud2: "\e726"

	cloud-download: "\e727"

	cloud-upload: "\e728"

	download2: "\e729"

	upload2: "\e72a"

	download3: "\e72b"

	upload3: "\e72c"

	globe: "\e72d"

	earth2: "\e72e"

	link: "\e72f"

	flag2: "\e730"

	attachment: "\e731"

	eye2: "\e732"

	eye-blocked: "\e733"

	eye3: "\e734"

	bookmark3: "\e735"

	bookmarks: "\e736"

	brightness-medium: "\e737"

	brightness-contrast: "\e738"

	contrast2: "\e739"

	star3: "\e73a"

	star4: "\e73b"

	star5: "\e73c"

	heart2: "\e73d"

	heart3: "\e73e"

	heart-broken: "\e73f"

	thumbs-up: "\e740"

	thumbs-up2: "\e741"

	happy: "\e742"

	happy2: "\e743"

	smiley2: "\e744"

	smiley3: "\e745"

	tongue: "\e746"

	tongue2: "\e747"

	sad: "\e748"

	sad2: "\e749"

	wink: "\e74a"

	wink2: "\e74b"

	grin: "\e74c"

	grin2: "\e74d"

	cool: "\e74e"

	cool2: "\e74f"

	angry: "\e750"

	angry2: "\e751"

	evil: "\e752"

	evil2: "\e753"

	shocked: "\e754"

	shocked2: "\e755"

	confused: "\e756"

	confused2: "\e757"

	neutral: "\e758"

	neutral2: "\e759"

	wondering: "\e75a"

	wondering2: "\e75b"

	point-up: "\e75c"

	point-right: "\e75d"

	point-down: "\e75e"

	point-left: "\e75f"

	warning2: "\e760"

	notification: "\e761"

	question: "\e762"

	info2: "\e763"

	info3: "\e764"

	blocked2: "\e765"

	cancel-circle: "\e766"

	checkmark-circle: "\e767"

	spam: "\e768"

	close: "\e769"

	checkmark2: "\e76a"

	checkmark3: "\e76b"

	spell-check: "\e76c"

	minus2: "\e76d"

	plus2: "\e76e"

	enter: "\e76f"

	exit: "\e770"

	play3: "\e771"

	pause2: "\e772"

	stop2: "\e773"

	backward: "\e774"

	forward3: "\e775"

	play4: "\e776"

	pause3: "\e777"

	stop3: "\e778"

	backward2: "\e779"

	forward4: "\e77a"

	first: "\e77b"

	last: "\e77c"

	previous: "\e77d"

	next: "\e77e"

	eject: "\e77f"

	volume-high: "\e780"

	volume-medium: "\e781"

	volume-low: "\e782"

	volume-mute: "\e783"

	volume-mute2: "\e784"

	volume-increase: "\e785"

	volume-decrease: "\e786"

	loop: "\e787"

	loop2: "\e788"

	loop3: "\e789"

	shuffle: "\e78a"

	arrow-up-left: "\e78b"

	arrow-up: "\e78c"

	arrow-up-right: "\e78d"

	arrow-right: "\e78e"

	arrow-down-right: "\e78f"

	arrow-down: "\e790"

	arrow-down-left: "\e791"

	arrow-left: "\e792"

	arrow-up-left2: "\e793"

	arrow-up2: "\e794"

	arrow-up-right2: "\e795"

	arrow-right2: "\e796"

	arrow-down-right2: "\e797"

	arrow-down2: "\e798"

	arrow-down-left2: "\e799"

	arrow-left2: "\e79a"

	arrow-up-left3: "\e79b"

	arrow-up3: "\e79c"

	arrow-up-right3: "\e79d"

	arrow-right3: "\e79e"

	arrow-down-right3: "\e79f"

	arrow-down3: "\e7a0"

	arrow-down-left3: "\e7a1"

	arrow-left3: "\e7a2"

	tab: "\e7a3"

	checkbox-checked: "\e7a4"

	checkbox-unchecked: "\e7a5"

	checkbox-partial: "\e7a6"

	radio-checked: "\e7a7"

	radio-unchecked: "\e7a8"

	crop2: "\e7a9"

	scissors: "\e7aa"

	filter2: "\e7ab"

	filter3: "\e7ac"

	font: "\e7ad"

	text-height: "\e7ae"

	text-width: "\e7af"

	bold: "\e7b0"

	underline: "\e7b1"

	italic: "\e7b2"

	strikethrough: "\e7b3"

	omega: "\e7b4"

	sigma: "\e7b5"

	table: "\e7b6"

	table2: "\e7b7"

	insert-template: "\e7b8"

	pilcrow: "\e7b9"

	lefttoright: "\e7ba"

	righttoleft: "\e7bb"

	paragraph-left: "\e7bc"

	paragraph-center: "\e7bd"

	paragraph-right: "\e7be"

	paragraph-justify: "\e7bf"

	paragraph-left2: "\e7c0"

	paragraph-center2: "\e7c1"

	paragraph-right2: "\e7c2"

	paragraph-justify2: "\e7c3"

	indent-increase: "\e7c4"

	indent-decrease: "\e7c5"

	newtab: "\e7c6"

	embed: "\e7c7"

	code2: "\e7c8"

	console2: "\e7c9"

	share: "\e7ca"

	mail: "\e7cb"

	mail2: "\e7cc"

	mail3: "\e7cd"

	mail4: "\e7ce"

	google: "\e7cf"

	googleplus: "\e7d0"

	googleplus2: "\e7d1"

	googleplus3: "\e7d2"

	googleplus4: "\e7d3"

	google-drive: "\e7d4"

	facebook: "\e7d5"

	facebook2: "\e7d6"

	facebook3: "\e7d7"

	instagram: "\e7d8"

	twitter2: "\e7d9"

	twitter3: "\e7da"

	twitter4: "\e7db"

	feed3: "\e7dc"

	feed4: "\e7dd"

	feed5: "\e7de"

	youtube: "\e7df"

	youtube2: "\e7e0"

	vimeo: "\e7e1"

	vimeo2: "\e7e2"

	vimeo3: "\e7e3"

	lanyrd: "\e7e4"

	flickr: "\e7e5"

	flickr2: "\e7e6"

	flickr3: "\e7e7"

	flickr4: "\e7e8"

	picassa: "\e7e9"

	picassa2: "\e7ea"

	dribbble2: "\e7eb"

	dribbble3: "\e7ec"

	dribbble4: "\e7ed"

	forrst2: "\e7ee"

	forrst3: "\e7ef"

	deviantart: "\e7f0"

	deviantart2: "\e7f1"

	steam: "\e7f2"

	steam2: "\e7f3"

	github: "\e7f4"

	github2: "\e7f5"

	github3: "\e7f6"

	github4: "\e7f7"

	github5: "\e7f8"

	wordpress: "\e7f9"

	wordpress2: "\e7fa"

	joomla: "\e7fb"

	blogger: "\e7fc"

	blogger2: "\e7fd"

	tumblr: "\e7fe"

	tumblr2: "\e7ff"

	yahoo: "\e800"

	tux: "\e801"

	apple2: "\e802"

	finder: "\e803"

	android: "\e804"

	windows: "\e805"

	windows8: "\e806"

	soundcloud: "\e807"

	soundcloud2: "\e808"

	skype2: "\e809"

	reddit: "\e80a"

	linkedin: "\e80b"

	lastfm: "\e80c"

	lastfm2: "\e80d"

	delicious: "\e80e"

	stumbleupon: "\e80f"

	stumbleupon2: "\e810"

	stackoverflow: "\e811"

	pinterest: "\e812"

	pinterest2: "\e813"

	xing: "\e814"

	xing2: "\e815"

	flattr: "\e816"

	foursquare: "\e817"

	foursquare2: "\e818"

	paypal: "\e819"

	paypal2: "\e81a"

	paypal3: "\e81b"

	yelp: "\e81c"

	libreoffice: "\e81d"

	file-pdf: "\e81e"

	file-openoffice: "\e81f"

	file-word: "\e820"

	file-excel: "\e821"

	file-zip: "\e822"

	file-powerpoint: "\e823"

	file-xml: "\e824"

	file-css: "\e825"

	html5: "\e826"

	html52: "\e827"

	css3: "\e828"

	chrome: "\e829"

	firefox: "\e82a"

	IE: "\e82b"

	opera: "\e82c"

	safari: "\e82d"

	IcoMoon: "\e82e"
}

for icon, ascii in $icons
	define("$" + "icon-" + icon, ascii)
	.icon-{icon}
		@extend $icomoon
		&:before
			content ascii

/* =============================================================================
Single icon declarations

(you can remove these; they are just here for PHPStorm autocomplete)
========================================================================== */
$icon-home2 = "\e66c"

$icon-home3 = "\e66d"

$icon-home4 = "\e66e"

$icon-office = "\e66f"

$icon-newspaper = "\e670"

$icon-pencil2 = "\e671"

$icon-pencil3 = "\e672"

$icon-quill = "\e673"

$icon-pen = "\e674"

$icon-blog = "\e675"

$icon-droplet2 = "\e676"

$icon-paint-format = "\e677"

$icon-image = "\e678"

$icon-image2 = "\e679"

$icon-images = "\e67a"

$icon-camera3 = "\e67b"

$icon-music2 = "\e67c"

$icon-headphones2 = "\e67d"

$icon-play2 = "\e67e"

$icon-film2 = "\e67f"

$icon-camera4 = "\e680"

$icon-dice = "\e681"

$icon-pacman = "\e682"

$icon-spades = "\e683"

$icon-clubs = "\e684"

$icon-diamonds = "\e685"

$icon-pawn = "\e686"

$icon-bullhorn = "\e687"

$icon-connection = "\e688"

$icon-podcast = "\e689"

$icon-feed2 = "\e68a"

$icon-book = "\e68b"

$icon-books = "\e68c"

$icon-library = "\e68d"

$icon-file2 = "\e68e"

$icon-profile = "\e68f"

$icon-file3 = "\e690"

$icon-file4 = "\e691"

$icon-file5 = "\e692"

$icon-copy = "\e693"

$icon-copy2 = "\e694"

$icon-copy3 = "\e695"

$icon-paste = "\e696"

$icon-paste2 = "\e697"

$icon-paste3 = "\e698"

$icon-stack = "\e699"

$icon-folder2 = "\e69a"

$icon-folder-open = "\e69b"

$icon-tag2 = "\e69c"

$icon-tags = "\e69d"

$icon-barcode = "\e69e"

$icon-qrcode = "\e69f"

$icon-ticket = "\e6a0"

$icon-cart2 = "\e6a1"

$icon-cart3 = "\e6a2"

$icon-cart4 = "\e6a3"

$icon-coin = "\e6a4"

$icon-credit = "\e6a5"

$icon-calculate = "\e6a6"

$icon-support = "\e6a7"

$icon-phone2 = "\e6a8"

$icon-phone-hang-up = "\e6a9"

$icon-address-book = "\e6aa"

$icon-notebook = "\e6ab"

$icon-envelope2 = "\e6ac"

$icon-pushpin = "\e6ad"

$icon-location3 = "\e6ae"

$icon-location4 = "\e6af"

$icon-compass2 = "\e6b0"

$icon-map = "\e6b1"

$icon-map2 = "\e6b2"

$icon-history = "\e6b3"

$icon-clock2 = "\e6b4"

$icon-clock3 = "\e6b5"

$icon-alarm2 = "\e6b6"

$icon-alarm3 = "\e6b7"

$icon-bell = "\e6b8"

$icon-stopwatch = "\e6b9"

$icon-calendar2 = "\e6ba"

$icon-calendar3 = "\e6bb"

$icon-print = "\e6bc"

$icon-keyboard2 = "\e6bd"

$icon-screen = "\e6be"

$icon-laptop = "\e6bf"

$icon-mobile2 = "\e6c0"

$icon-mobile3 = "\e6c1"

$icon-tablet = "\e6c2"

$icon-tv = "\e6c3"

$icon-cabinet = "\e6c4"

$icon-drawer = "\e6c5"

$icon-drawer2 = "\e6c6"

$icon-drawer3 = "\e6c7"

$icon-box-add = "\e6c8"

$icon-box-remove = "\e6c9"

$icon-download = "\e6ca"

$icon-upload = "\e6cb"

$icon-disk2 = "\e6cc"

$icon-storage = "\e6cd"

$icon-undo = "\e6ce"

$icon-redo = "\e6cf"

$icon-flip = "\e6d0"

$icon-flip2 = "\e6d1"

$icon-undo2 = "\e6d2"

$icon-redo2 = "\e6d3"

$icon-forward2 = "\e6d4"

$icon-reply = "\e6d5"

$icon-bubble = "\e6d6"

$icon-bubbles = "\e6d7"

$icon-bubbles2 = "\e6d8"

$icon-bubble2 = "\e6d9"

$icon-bubbles3 = "\e6da"

$icon-bubbles4 = "\e6db"

$icon-user2 = "\e6dc"

$icon-users = "\e6dd"

$icon-user3 = "\e6de"

$icon-users2 = "\e6df"

$icon-user4 = "\e6e0"

$icon-user5 = "\e6e1"

$icon-quotes-left = "\e6e2"

$icon-busy = "\e6e3"

$icon-spinner = "\e6e4"

$icon-spinner2 = "\e6e5"

$icon-spinner3 = "\e6e6"

$icon-spinner4 = "\e6e7"

$icon-spinner5 = "\e6e8"

$icon-spinner6 = "\e6e9"

$icon-binoculars = "\e6ea"

$icon-search2 = "\e6eb"

$icon-zoomin = "\e6ec"

$icon-zoomout = "\e6ed"

$icon-expand = "\e6ee"

$icon-contract = "\e6ef"

$icon-expand2 = "\e6f0"

$icon-contract2 = "\e6f1"

$icon-key2 = "\e6f2"

$icon-key3 = "\e6f3"

$icon-lock = "\e6f4"

$icon-lock2 = "\e6f5"

$icon-unlocked = "\e6f6"

$icon-wrench2 = "\e6f7"

$icon-settings = "\e6f8"

$icon-equalizer = "\e6f9"

$icon-cog2 = "\e6fa"

$icon-cogs = "\e6fb"

$icon-cog3 = "\e6fc"

$icon-hammer = "\e6fd"

$icon-wand = "\e6fe"

$icon-aid = "\e6ff"

$icon-bug2 = "\e700"

$icon-pie = "\e701"

$icon-stats2 = "\e702"

$icon-bars = "\e703"

$icon-bars2 = "\e704"

$icon-gift2 = "\e705"

$icon-trophy2 = "\e706"

$icon-glass = "\e707"

$icon-mug = "\e708"

$icon-food = "\e709"

$icon-leaf = "\e70a"

$icon-rocket = "\e70b"

$icon-meter = "\e70c"

$icon-meter2 = "\e70d"

$icon-dashboard = "\e70e"

$icon-hammer2 = "\e70f"

$icon-fire = "\e710"

$icon-lab = "\e711"

$icon-magnet = "\e712"

$icon-remove = "\e713"

$icon-remove2 = "\e714"

$icon-briefcase2 = "\e715"

$icon-airplane = "\e716"

$icon-truck = "\e717"

$icon-road = "\e718"

$icon-accessibility = "\e719"

$icon-target4 = "\e71a"

$icon-shield = "\e71b"

$icon-lightning = "\e71c"

$icon-switch2 = "\e71d"

$icon-powercord = "\e71e"

$icon-signup = "\e71f"

$icon-list2 = "\e720"

$icon-list3 = "\e721"

$icon-numbered-list = "\e722"

$icon-menu = "\e723"

$icon-menu2 = "\e724"

$icon-tree = "\e725"

$icon-cloud2 = "\e726"

$icon-cloud-download = "\e727"

$icon-cloud-upload = "\e728"

$icon-download2 = "\e729"

$icon-upload2 = "\e72a"

$icon-download3 = "\e72b"

$icon-upload3 = "\e72c"

$icon-globe = "\e72d"

$icon-earth2 = "\e72e"

$icon-link = "\e72f"

$icon-flag2 = "\e730"

$icon-attachment = "\e731"

$icon-eye2 = "\e732"

$icon-eye-blocked = "\e733"

$icon-eye3 = "\e734"

$icon-bookmark3 = "\e735"

$icon-bookmarks = "\e736"

$icon-brightness-medium = "\e737"

$icon-brightness-contrast = "\e738"

$icon-contrast2 = "\e739"

$icon-star3 = "\e73a"

$icon-star4 = "\e73b"

$icon-star5 = "\e73c"

$icon-heart2 = "\e73d"

$icon-heart3 = "\e73e"

$icon-heart-broken = "\e73f"

$icon-thumbs-up = "\e740"

$icon-thumbs-up2 = "\e741"

$icon-happy = "\e742"

$icon-happy2 = "\e743"

$icon-smiley2 = "\e744"

$icon-smiley3 = "\e745"

$icon-tongue = "\e746"

$icon-tongue2 = "\e747"

$icon-sad = "\e748"

$icon-sad2 = "\e749"

$icon-wink = "\e74a"

$icon-wink2 = "\e74b"

$icon-grin = "\e74c"

$icon-grin2 = "\e74d"

$icon-cool = "\e74e"

$icon-cool2 = "\e74f"

$icon-angry = "\e750"

$icon-angry2 = "\e751"

$icon-evil = "\e752"

$icon-evil2 = "\e753"

$icon-shocked = "\e754"

$icon-shocked2 = "\e755"

$icon-confused = "\e756"

$icon-confused2 = "\e757"

$icon-neutral = "\e758"

$icon-neutral2 = "\e759"

$icon-wondering = "\e75a"

$icon-wondering2 = "\e75b"

$icon-point-up = "\e75c"

$icon-point-right = "\e75d"

$icon-point-down = "\e75e"

$icon-point-left = "\e75f"

$icon-warning2 = "\e760"

$icon-notification = "\e761"

$icon-question = "\e762"

$icon-info2 = "\e763"

$icon-info3 = "\e764"

$icon-blocked2 = "\e765"

$icon-cancel-circle = "\e766"

$icon-checkmark-circle = "\e767"

$icon-spam = "\e768"

$icon-close = "\e769"

$icon-checkmark2 = "\e76a"

$icon-checkmark3 = "\e76b"

$icon-spell-check = "\e76c"

$icon-minus2 = "\e76d"

$icon-plus2 = "\e76e"

$icon-enter = "\e76f"

$icon-exit = "\e770"

$icon-play3 = "\e771"

$icon-pause2 = "\e772"

$icon-stop2 = "\e773"

$icon-backward = "\e774"

$icon-forward3 = "\e775"

$icon-play4 = "\e776"

$icon-pause3 = "\e777"

$icon-stop3 = "\e778"

$icon-backward2 = "\e779"

$icon-forward4 = "\e77a"

$icon-first = "\e77b"

$icon-last = "\e77c"

$icon-previous = "\e77d"

$icon-next = "\e77e"

$icon-eject = "\e77f"

$icon-volume-high = "\e780"

$icon-volume-medium = "\e781"

$icon-volume-low = "\e782"

$icon-volume-mute = "\e783"

$icon-volume-mute2 = "\e784"

$icon-volume-increase = "\e785"

$icon-volume-decrease = "\e786"

$icon-loop = "\e787"

$icon-loop2 = "\e788"

$icon-loop3 = "\e789"

$icon-shuffle = "\e78a"

$icon-arrow-up-left = "\e78b"

$icon-arrow-up = "\e78c"

$icon-arrow-up-right = "\e78d"

$icon-arrow-right = "\e78e"

$icon-arrow-down-right = "\e78f"

$icon-arrow-down = "\e790"

$icon-arrow-down-left = "\e791"

$icon-arrow-left = "\e792"

$icon-arrow-up-left2 = "\e793"

$icon-arrow-up2 = "\e794"

$icon-arrow-up-right2 = "\e795"

$icon-arrow-right2 = "\e796"

$icon-arrow-down-right2 = "\e797"

$icon-arrow-down2 = "\e798"

$icon-arrow-down-left2 = "\e799"

$icon-arrow-left2 = "\e79a"

$icon-arrow-up-left3 = "\e79b"

$icon-arrow-up3 = "\e79c"

$icon-arrow-up-right3 = "\e79d"

$icon-arrow-right3 = "\e79e"

$icon-arrow-down-right3 = "\e79f"

$icon-arrow-down3 = "\e7a0"

$icon-arrow-down-left3 = "\e7a1"

$icon-arrow-left3 = "\e7a2"

$icon-tab = "\e7a3"

$icon-checkbox-checked = "\e7a4"

$icon-checkbox-unchecked = "\e7a5"

$icon-checkbox-partial = "\e7a6"

$icon-radio-checked = "\e7a7"

$icon-radio-unchecked = "\e7a8"

$icon-crop2 = "\e7a9"

$icon-scissors = "\e7aa"

$icon-filter2 = "\e7ab"

$icon-filter3 = "\e7ac"

$icon-font = "\e7ad"

$icon-text-height = "\e7ae"

$icon-text-width = "\e7af"

$icon-bold = "\e7b0"

$icon-underline = "\e7b1"

$icon-italic = "\e7b2"

$icon-strikethrough = "\e7b3"

$icon-omega = "\e7b4"

$icon-sigma = "\e7b5"

$icon-table = "\e7b6"

$icon-table2 = "\e7b7"

$icon-insert-template = "\e7b8"

$icon-pilcrow = "\e7b9"

$icon-lefttoright = "\e7ba"

$icon-righttoleft = "\e7bb"

$icon-paragraph-left = "\e7bc"

$icon-paragraph-center = "\e7bd"

$icon-paragraph-right = "\e7be"

$icon-paragraph-justify = "\e7bf"

$icon-paragraph-left2 = "\e7c0"

$icon-paragraph-center2 = "\e7c1"

$icon-paragraph-right2 = "\e7c2"

$icon-paragraph-justify2 = "\e7c3"

$icon-indent-increase = "\e7c4"

$icon-indent-decrease = "\e7c5"

$icon-newtab = "\e7c6"

$icon-embed = "\e7c7"

$icon-code2 = "\e7c8"

$icon-console2 = "\e7c9"

$icon-share = "\e7ca"

$icon-mail = "\e7cb"

$icon-mail2 = "\e7cc"

$icon-mail3 = "\e7cd"

$icon-mail4 = "\e7ce"

$icon-google = "\e7cf"

$icon-googleplus = "\e7d0"

$icon-googleplus2 = "\e7d1"

$icon-googleplus3 = "\e7d2"

$icon-googleplus4 = "\e7d3"

$icon-google-drive = "\e7d4"

$icon-facebook = "\e7d5"

$icon-facebook2 = "\e7d6"

$icon-facebook3 = "\e7d7"

$icon-instagram = "\e7d8"

$icon-twitter2 = "\e7d9"

$icon-twitter3 = "\e7da"

$icon-twitter4 = "\e7db"

$icon-feed3 = "\e7dc"

$icon-feed4 = "\e7dd"

$icon-feed5 = "\e7de"

$icon-youtube = "\e7df"

$icon-youtube2 = "\e7e0"

$icon-vimeo = "\e7e1"

$icon-vimeo2 = "\e7e2"

$icon-vimeo3 = "\e7e3"

$icon-lanyrd = "\e7e4"

$icon-flickr = "\e7e5"

$icon-flickr2 = "\e7e6"

$icon-flickr3 = "\e7e7"

$icon-flickr4 = "\e7e8"

$icon-picassa = "\e7e9"

$icon-picassa2 = "\e7ea"

$icon-dribbble2 = "\e7eb"

$icon-dribbble3 = "\e7ec"

$icon-dribbble4 = "\e7ed"

$icon-forrst2 = "\e7ee"

$icon-forrst3 = "\e7ef"

$icon-deviantart = "\e7f0"

$icon-deviantart2 = "\e7f1"

$icon-steam = "\e7f2"

$icon-steam2 = "\e7f3"

$icon-github = "\e7f4"

$icon-github2 = "\e7f5"

$icon-github3 = "\e7f6"

$icon-github4 = "\e7f7"

$icon-github5 = "\e7f8"

$icon-wordpress = "\e7f9"

$icon-wordpress2 = "\e7fa"

$icon-joomla = "\e7fb"

$icon-blogger = "\e7fc"

$icon-blogger2 = "\e7fd"

$icon-tumblr = "\e7fe"

$icon-tumblr2 = "\e7ff"

$icon-yahoo = "\e800"

$icon-tux = "\e801"

$icon-apple2 = "\e802"

$icon-finder = "\e803"

$icon-android = "\e804"

$icon-windows = "\e805"

$icon-windows8 = "\e806"

$icon-soundcloud = "\e807"

$icon-soundcloud2 = "\e808"

$icon-skype2 = "\e809"

$icon-reddit = "\e80a"

$icon-linkedin = "\e80b"

$icon-lastfm = "\e80c"

$icon-lastfm2 = "\e80d"

$icon-delicious = "\e80e"

$icon-stumbleupon = "\e80f"

$icon-stumbleupon2 = "\e810"

$icon-stackoverflow = "\e811"

$icon-pinterest = "\e812"

$icon-pinterest2 = "\e813"

$icon-xing = "\e814"

$icon-xing2 = "\e815"

$icon-flattr = "\e816"

$icon-foursquare = "\e817"

$icon-foursquare2 = "\e818"

$icon-paypal = "\e819"

$icon-paypal2 = "\e81a"

$icon-paypal3 = "\e81b"

$icon-yelp = "\e81c"

$icon-libreoffice = "\e81d"

$icon-file-pdf = "\e81e"

$icon-file-openoffice = "\e81f"

$icon-file-word = "\e820"

$icon-file-excel = "\e821"

$icon-file-zip = "\e822"

$icon-file-powerpoint = "\e823"

$icon-file-xml = "\e824"

$icon-file-css = "\e825"

$icon-html5 = "\e826"

$icon-html52 = "\e827"

$icon-css3 = "\e828"

$icon-chrome = "\e829"

$icon-firefox = "\e82a"

$icon-IE = "\e82b"

$icon-opera = "\e82c"

$icon-safari = "\e82d"

$icon-IcoMoon = "\e82e"
