/*
	stylus-boilerplate

	nav.styl

	Author: Sean Goresht

	Basic navigation component styles
*/
$navPadding ?= 0
$navBackground ?= #3B7EA8
$navItemLinkColour ?= #fff

$navItemDistribution ?= table // flex, table, or flex-table (flexbox with fallback)

$navItemPadding ?= 1em
$navItemMargin ?= 0
$navItemLinkPadding ?= 0.7em
$navItemBorderColour ?= transparentify($navItemLinkColour, 0.3)

$navItemPreventWrap = false // prevent nav items from flowing to the other side
$navItemTransitionFunction ?= easing("in-quad")
$navItemTransitionTime ?= 0.5s

$navResponsive = true

$nav
	padding $navPadding
	background $navBackground
	box-sizing border-box
.nav
	&-vertical
		@extend $nav
		.nav-item
			border-bottom 1px solid $navItemBorderColour
		.nav-item, .nav-item-link
			display block
			width 100%
		.nav-items
			if $navItemDistribution is flex
				flex-direction column
	&-horizontal
		@extend $nav
		.nav-item
			text-align center
			border-right 1px solid $navItemBorderColour
			if $navItemDistribution is normal
				display inline-block
			else if $navItemDistribution is table or $navItemDistribution is flex-table
				display table-cell
				if $navResponsive
					+media-query($breakpointMain)
						display block
			margin-right $navItemMargin
	&-items
		list-style none
		// reset for existing ul
		margin 0
		padding 0
		if $navItemDistribution is flex or $navItemDistribution is flex-table
			display flex
			flex-wrap wrap
		else if $navItemDistribution is table or $navItemDistribution is flex-table
			display table
			width 100%
			table-layout fixed
		if $navItemPreventWrap
			white-space nowrap
	&-item
		&:last-child
			border 0
		if $navItemDistribution is flex or $navItemDistribution is flex-table
			flex 1
		position relative
		&-link
			box-sizing border-box
			padding $navItemLinkPadding
			display block
			text-decoration none
			color $navItemLinkColour
			transition background, $navItemTransitionTime, $navItemTransitionFunction
			&:hover, &:focus
				background transparentify($navBackground - 10, 0.1)
