/*
	stylus-boilerplate

	nav.styl

	Author: Sean Goresht

	Basic navigation component styles
*/
$navPadding ?= 0
$navBackground ?= #3B7EA8
$navItemLinkColour ?= luminosity($navBackground) > 0.5 ? black : white

$navItemDistribution ?= normal // normal, flex, table, or flex-table (flexbox with fallback)

$navItemPadding ?= 1em
$navItemMargin ?= 0
$navItemLinkPadding ?= 0.7em

$navBorderWidth ?= 1px
$navBorderStyle ?= solid
$navItemBorderColour ?= transparentify($navItemLinkColour, 0.3)

$navItemPreventWrap = false // prevent nav items from flowing to the other side
$navItemTransitionFunction ?= easing("in-quad")
$navItemTransitionTime ?= 0.5s

$navResponsive = true

$nav
	padding $navPadding
	background $navBackground
	box-sizing border-box
.nav
	&-vertical
		@extend $nav
		.nav-item
			border-width 0 0 $navBorderWidth 0
		.nav-item, .nav-item-link
			display block
			width 100%
		.nav-items
			if $navItemDistribution is flex
				flex-direction column
	&-horizontal
		@extend $nav
		.nav-item
			border-width 0 $borderWidth 0 0
			if $navResponsive
				+media-query($breakpointMain)
					display block
					border-width 0 0 $navBorderWidth 0
			if $navItemDistribution is normal
				display inline-block
			else if $navItemDistribution is table or $navItemDistribution is flex-table
				display table-cell
			if $navItemDistribution is table or $navItemDistribution is flex or $navItemDistribution is flex-table
				text-align center
			margin-right $navItemMargin
	&-items
		list-style none
		// reset for existing ul
		margin 0
		padding 0
		if $navItemDistribution is flex or $navItemDistribution is flex-table
			display flex
			flex-wrap wrap
		else if $navItemDistribution is table or $navItemDistribution is flex-table
			display table
			width 100%
			table-layout fixed
		if $navItemPreventWrap
			white-space nowrap
	&-item
		border $navBorderWidth $navBorderStyle color-fallback($navItemBorderColour)
		&:last-child
			border 0
		if $navItemDistribution is flex or $navItemDistribution is flex-table
			flex 1
		position relative
		&-link
			box-sizing border-box
			padding $navItemLinkPadding
			display block
			text-decoration none
			color $navItemLinkColour
			transition background, $navItemTransitionTime, $navItemTransitionFunction
			&:hover, &:focus
				background color-fallback(transparentify((luminosity($navBackground) > 0.5 ? $navBackground + 35 : $navBackground - 35), 0.1))
