/*
	stylus-boilerplate

	animations/index.styl

	Author: Sean Goresht

	Animations, adapted from Dan Eden's animate.css
	@note Source adapted from Dan Eden's animate.css (with added placeholders for convenience)
	@see https://github.com/slang800/animate-stylus

	@example
		@require "components/animations/attention_seekers/shake
		.error
			@extend $callout, $callout--top-left, $shake
*/

//import the entire library

@import "**/*"
