/*
	stylus-boilerplate

	base.styl

	Author: Sean Goresht

	Base styles for <body>, <header>, and <footer> elements.  May consider generating CSS to put in head for faster load times
*/

body
	background $bodyBackground
	font-size $baseFontSize
	font-family $baseFontFamily
	line-height $lineHeight
