/*
	stylus-boilerplate

	variables.styl

	Author: Sean Goresht

	Configuration variables for the kouto Stylus plugin; feel free to customize
	@see http://kouto-swiss.io/docs.html
*/

ks-support-ie = 8
ks-support-firefox = 23
ks-support-chrome = 20
ks-support-safari = 5
ks-support-opera = 12
ks-support-ios-safari = 5
ks-support-opera-mini = true
ks-support-android-browser = true
ks-support-blackberry-browser = true
ks-support-opera-mobile = true
ks-support-android-chrome = true
ks-support-android-firefox = true
ks-support-ie-mobile = true

ks-color-fallback-enabled = true

if ($resetEnabled) {
	meyer-reset()
}
