@keyframes bounceInUp
	0%
		opacity: 0
		transform: translateY(em(2000px))

	60%
		opacity: 1
		transform: translateY(em(-30px))

	80%
		transform: translateY(em(10px))

	100%
		transform: translateY(0)

generateAnimationPlaceholder(bounceInUp)
