/*
	stylus-boilerplate

	forms.styl

	Author: _admin

	Created on 2014-12-23 by PhpStorm
*/

textarea, input
	padding $paddingMini $padding
	@extend $bordered, $border-box
	font-size $unit
	+placeholder()
		font-family $baseFontFamily
		color luminosity($textColour) > 0.5 ? $inverseTextColour + 35 : $inverseTextColour - 35
