/*
	stylus-boilerplate

	layout.styl

	Author: Sean

	Created on 2014-11-17 by PhpStorm
*/
html, body, main
	height 100%
.container
	width 100%
	height 100%
	display table
header
	for num in (6..1)
		h{num}
			@extend $margin-none
.footer
	height 1%
	display table-row
	background $primaryColour
	&-container
		@extend $text-align-center, $normal-padding

