@keyframes bounceOutLeft
	0%
		transform: translateX(0)

	20%
		opacity: 1
		transform: translateX(em(20px))

	100%
		opacity: 0
		transform: translateX(em(-2000px))

generateAnimationPlaceholder(bounceOutLeft)
