@keyframes bounceOutDown
	0%
		transform: translateY(0)

	20%
		opacity: 1
		transform: translateY(em(-20px))

	100%
		opacity: 0
		transform: translateY(em(2000px))

generateAnimationPlaceholder(bounceOutDown)
