/*
	stylus-boilerplate

	callouts.styl

	Author: Sean Goresht

	Calllouts (or text bubbles), which can be configured to point in any direction via class names
	@example
		.speech-bubble
			@extend $callout, $callout--top-right
*/

$calloutColour = white
$calloutPadding = 0.5em
$calloutTextColour = luminosity($calloutColour) > 0.5 ? black : white

$calloutBorderWidth = 1px
$calloutBorderStyle = solid
$calloutBorderColour = luminosity($calloutColour) > 0.5 ? $calloutColour - 25 : $calloutColour + 25

$calloutTipColour = luminosity($calloutColour) > 0.5 ? $calloutColour - 90 : $calloutColour + 90
$calloutTipSize = 0.5em
$calloutTipXPositions = left middle right
$calloutTipYPositions = top bottom
$calloutTipPosition = right
$calloutTipOffset = $calloutTipSize * -1

calloutTipPosition(x, y = false)
	if x is middle
		left 50%
	else if x is right
		right 0
	else if x is left
		left 0
	if y
		if y is bottom
			bottom $calloutTipOffset
		else
			top $calloutTipOffset
	else
		top $calloutTipOffset

$callout
	color $calloutTextColour
	@extend $inline-block, $relative
	padding $calloutPadding
	background $calloutColour
	border $calloutBorderWidth $calloutBorderStyle $calloutBorderColour
	// genearte all types
	for horizontalPosition in $calloutTipXPositions
		for verticalPosition in $calloutTipYPositions
			&--{verticalPosition}-{horizontalPosition}
				&:before, &:after
					calloutTipPosition(horizontalPosition, verticalPosition)
	&:before, &:after
		@extend $inline-block, $relative
		content ""
		calloutTipPosition($calloutTipPosition)
		border-right $calloutTipSize $calloutBorderStyle transparent
		border-bottom $calloutTipSize $calloutBorderStyle $calloutTipColour
		border-left $calloutTipSize $calloutBorderStyle transparent
	&:after
		border-bottom $calloutTipSize $calloutBorderStyle $calloutColour
