/*
	stylus-boilerplate

	forms.styl

	Author: Sean Goresht

	Created on 2014-08-23 by PhpStorm
*/

fieldset
	@extend $bordered, $normal-margin-bottom
	legend
		@extend $font-size-medium
		font-weight bold
		padding 0 $padding
	label
		min-width 12em
		@extend $inline, $text-align-left
		&.text-label
			@extend $vertical-align-top
	.form-field
		&:first-child
			@extend $bordered-none

.form-field
	padding $paddingMini $padding

.form-actions
	margin $margin 0
	button
		@extend $block
		width 100%

input
	padding $paddingMini $padding
	border $border
	font-size $unit
	+placeholder()
		color luminosity($textColour) > 0.5 ? $inverseTextColour + 35 : $inverseTextColour - 35

button
	padding $paddingMini $padding
	cursor pointer
	font-size $unit
