/*
	stylus-boilerplate

	tables.styl

	Author: Sean Goresht

	Table component for rendering responsive tables
	@note default styling is zebra-style
*/

table
	background $bodyBackground
	width 100%
	max-width 100%
	@extend $normal-margin-bottom
	thead
		th
			@extend $vertical-align-bottom, $bordered, $text-align-left
			padding $paddingMini * 1.5
			font-weight bold
	tbody
		tr
			background $bodyBackground
			transition $transitionTime $transitionFunction background
			box-shadow inset 0 1px $inverseTextColour
			text-shadow 0 1px $inverseTextColour
			&:nth-of-type(odd)
				background $bodyBackground - 7
			&:hover
				background $bodyBackground - 13
		& + tbody
			@extend $bordered
			border-width $borderWidth * 2
	td
		padding $paddingMini * 1.5
		@extend $vertical-align-middle, $bordered
		&.status
			@extend $text-align-center, $font-size-small
			.wait
				color orange
			.warning
				color #ff001e
			.success
				color #0d3e00
			.pending
				color #0AB477
	caption
		@extend $text-align-right, $normal-margin
		font-style italic
		& + thead:first-child
			th, td
				border-top 0
