/*
	stylus-boilerplate

	type.styl

	Author: Sean Goresht

	Typography component; place your type styles here
*/

$heading
	font-weight $headingFontWeight
	font-family $headingFontFamily

// TODO: get this loop working
/*for num in (6..1)
	@extend $heading
	@extend $normal-margin-bottom
	h{num}
		font-size num*/
