include ../mixins/mixins.jade

extends ../layout
- title = "Buttons"
block content
	- buttonTypes = ["success", "warning", "info", "error"]
	- buttonSizes = ["small", "medium", "large", "extra-large"]
	+demoSection("Basic Buttons")
		for buttonType in buttonTypes
			+getButton(buttonType, buttonType, buttonType)
	+demoSection("Button Sizes")
		for size in buttonSizes
			+demoSection(size)
			for buttonType in buttonTypes
				+getButton(buttonType, buttonType, buttonType + " button-" + size)
	+demoSection("Disabled Buttons")
		for size in buttonSizes
			+demoSection(size + " Disabled")
			for buttonType in buttonTypes
				+getButton(buttonType, buttonType, buttonType + " button-" + size)(disabled="disabled")
	+demoSection("Buttons with Icons")
		- buttonTypes = [{type: "success", icon: "checkmark2"}, {type: "warning", icon: "warning2"}, {type: "info", icon: "notification"}, {type: "error", icon: "warning2"}]
		for buttonType, icon in buttonTypes
			+getButton(buttonType.type, buttonType.type, buttonType.type, buttonType.icon)
