include mixins/mixins.jade

extends layout
- title = "Demos"
block header-styles
	link(rel = "stylesheet", href = "styles/demo.css")

block navigation
	- navItems = [{title: "Home", icon: "home2", url: "#", active: true},{title: "Badges", icon: "radio-checked", url: "badges.html"}, {title: "Buttons", icon: "bullhorn", url: "components/buttons.html"},{title: "Callouts", icon: "bubbles", url: "components/callouts.html"},{title: "Forms", icon: "stack", url: "components/forms.html"},{title: "Grid", icon: "table2", url: "components/grid.html"}, {title: "Icons", icon: "IcoMoon", url: "../app/assets/fonts/icomoon/demo.html"}, {title: "Navbars", icon: "menu2", url: "components/nav.html"}, {title: "Tables", icon: "table", url: "components/tables.html"}]
	+renderNavBar(navItems, "horizontal")
block content
	+demoSection("Stylus Boilerplate Demo")
		p Stylus Boilerplate is a tool for web developers who want to use stylus and leverage all its awesome features.  It provides you with a clean slate, with extensible variables, and a growing library of sample components
		p Unfortunately, documentation is lacking at this time.  Please contribute if you can.
