/*
	stylus-boilerplate

	helpers.styl

	Author: Sean Goresht

	Placeholders, generated through logic, and some few ones hard-coded.  Generates camelized variables too
*/

use("camelize.js")

directions = top left bottom right

properties = margin padding

proportions = none mini small normal medium large

generatePlaceholder(property, values, prefixed = false)
	if prefixed
		for value in values
			${property}-{value}
				{property} value
	else
		for value in values
			${value}
				{property} value

rules = {
	display: block inline-block inline table
	position: fixed absolute static relative
	prefixed: {
		text-align: center left right
		vertical-align: top middle bottom
		text-decoration: none underline
		list-style: none
	}
}

camelize(string)
	to-upper-case("" + substr(string, 0, 1)) + substr(string, 1)

// Generate basic proportion placeholders: ex. small-padding, medium-padding, etc.
for property in properties
	// generate "none" placeholders
	${property}-none
		{property} 0
	for proportion, i in proportions
		define("$" + property + camelize(proportion), unit(i / 3, "em")) // variables are known under $marginSmall, $paddingSmall, and so forth
		${proportion}-{property} // $small-margin
			{property} lookup("$" + property + camelize(proportion)) // margin $marginsmall
		for direction in directions
			${proportion}-{property}-{direction} // $small-margin-top
				{property}-{direction} lookup("$" + property + camelize(proportion)) // small-margin-top
			${property}-{$direction}-none
				${property}-{direction} 0

// generate border placeholders
$bordered
	border $border
$bordered-none
	border 0
for direction in directions
	$bordered-{direction}
		border-{direction} $border

// generate property placeholders
for property, value in rules
	if property is "prefixed"
		for nestedProperty, nestedValue in value
			generatePlaceholder(nestedProperty, nestedValue, true)
	else
		generatePlaceholder(property, value)

// generate font sizes
for proportion in proportions
	$font-size-{proportion}
		font-size lookup("$fontSize" + camelize(proportion))
